.wrapper
   #back.to_top__holder
      .to_top__icon
      .to_top__text Наверх

footer.footer__container
   .wrapper
      .footer__contact_holder
         a.footer__np
         a.footer__minpros
         .footer__contact
            a.footer__block
               .footer__icon.icon_phone
               .footer__text +7&nbsp;(495)&nbsp;539-55-19
            a.footer__block
               .footer__icon.icon_mail
               .footer__text info@edu.gov.ru



script( src='./assets/js/jquery.js' )
script( src='./assets/js/concat.js' )
