.menu__item:hover,
input:checked ~ span,
.second_order__item:hover {
   color: @color-button-blue-hover;
   .tr();
}
.menu__item:hover i,
input:checked ~ i {
   .icon-color-svg( 'icons', 'blue', 'arr-bottom' );
    .tr();
}

.header__aside_block.aside__block_white:hover {
   text-shadow: @shadow-text-white;
   .tr();
}
.header__aside_block.aside__block_blue:hover {
   text-shadow: @shadow-text-blue;
   .tr();
}
.header__aside_block:hover .header__aside_icon {
   transform: translateX(10px);
   .tr();
}


.tile_federal__cell:hover .tile_federal__about {
   opacity: 1;
   display: flex;
}

.map__button:hover {
   box-shadow: @box-shadow-white;
   background-color: @color-background-white;
   .tr();
}

.to_top__holder:hover {
   box-shadow: @box-shadow-light-hover;
   .tr();
}
.footer__block:hover .footer__text {
   text-shadow: @shadow-text-white;
   .tr();
}
