

.header__aside_block.aside__block_white:hover {
   text-shadow: @shadow-text-white;
   .tr();
    .middle-block({
       text-shadow: @shadow-text-blue;
    });
}
.header__aside_block.aside__block_blue:hover {
   text-shadow: @shadow-text-blue;
   .tr();
   
}
.header__aside_block:hover .header__aside_icon {
   transform: translateX(10px);
   .tr();
}
#container .header__aside_block.aside__block_white:hover {
   text-shadow: none;
   /*.to( 1280px, {
      text-shadow: @shadow-text-white;
      .tr();
   });*/
}
/*#container .header__aside_block:hover .header__aside_text:after {
   .to( 1280px, {
      transform: translateX(8px) translateY(-50%);
      .tr();
   });
}*/


.tile_federal__cell:hover .tile_federal__about {
   opacity: 1;
   display: flex;
   
   .middle-block({
      opacity: 0;
      display: none;
   })
}

.map__button:hover {
   box-shadow: @box-shadow-white;
   background-color: @color-background-white;
   .tr();
}

.to_top__holder:hover {
   box-shadow: @box-shadow-light-hover;
   .tr();
}
.footer__block:hover .footer__text {
   text-shadow: @shadow-text-white;
   .tr();
}

.slider__item:hover {
   box-shadow: 0 0 7px rgba(72, 132, 255, 0.6);
   .tr();
}


.aside_menu__items .second_order__item:hover {
   color: @color-text-white;
   text-shadow: @shadow-text-white;
   .tr()
}
a.mobile__item:hover,
label.mobile__item:hover span,
.mobile__item input:checked ~ span {
   color: @color-text-white;
   text-shadow: @shadow-text-white;
   .tr()
}
.mobile__item:hover i,
.mobile__item input:checked ~ i {
   .icon-color-svg( 'icons', 'white', 'arr-bottom' );
    .tr();
}
.mobile__item .second_order__item:hover {
   color: @color-text-white;
   text-shadow: @shadow-text-white;
   .tr()
}

.second_order__item:hover {
   color: @color-text-blue;
   .tr()
}

.slider__item-one:hover {
   .tr();
   box-shadow: @box-shadow-light;
}
.materials_video__download:hover {
   .tr();
   color: @color-text-blue;
   text-shadow: @shadow-text-blue;
}
.map_index__button:hover .icon-load {
   .icon-load-white();
}
.select2-container--default .select2-search--dropdown .select2-search__field:active,
.select2-container--default .select2-search--dropdown .select2-search__field:hover,
.select2-container--default .select2-search--dropdown .select2-search__field:visited,
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
   border-color: rgba(68, 68, 68, 0.7);
}
