aside.header__aside_holder {
   .column();
   .justify-center();
   align-items: flex-start;
   padding-top: 6vw;
   width: 37%;
   margin-left: auto;
   
}
#container_main aside.header__aside_holder {
   .from( 1620px, {
      padding-top: 8vw;
   });
   .from( 2000px, {
      padding-top: 10vw;
   });
}

.header__aside_block {
   cursor: pointer;
   .flex();
   .items-center();
   .tr();
}
.header__aside_text {
   .headline-3();
   line-height: 3.2rem;
   text-transform: uppercase;
   
}
.header__aside_icon {
   margin-right: 1.8rem;
   .tr();
}
.aside__block_white {
   transform: rotate(-40deg) translateX(5vw) translateY(-1vw);
   
   .from(1650px, {
      transform: rotate(-40deg) translateX(4vw) translateY(-2vw);
   });
  /* .from(1730px, {
      transform: rotate(-40deg) translateX(4vw) translateY(-1vw);
   });*/
   
   .justify-end();
   
   .header__aside_text {
      color: @color-text-white;
      
      span {
         .oswald-bold();
         font-size: 3.5rem;
      }
   }
   .header__aside_icon {
      position: relative;
      z-index: 50;
      .aside-arrow-white();
      
   }
}
.aside__block_blue {
   transform: rotate(-40deg) translateX(-4vw) translateY(3vw);
   
   .from(1650px, {
      transform: rotate(-40deg) translateX(-4vw) translateY(1vw);
   });
   
   .from(2000px, {
      transform: rotate(-40deg) translateX(-4vw) translateY(0);
   });
   
   .from(2800px, {
      transform: rotate(-40deg) translateX(-1vw) translateY(0);
   });
   
   
   .justify-start();
   .header__aside_text {
      color: @color-text-blue;
   }
   .header__aside_icon {
      .aside-arrow-blue();
   }
}

#container {
   aside.header__aside_holder {
      .from( 2000px, {
         padding-top: 4vw;
      });
      .middle-block({
         padding-top: calc( 2rem + 60px);
      })
   }
   
   .header__aside_block.aside__block_white {
      transform: rotate(-40deg) translateX(9rem) translateY(6rem);
   
      .from(2050px, {
         transform: rotate(-40deg) translateX(4rem) translateY(3rem);
      });
      .to( 1380px, {
         transform: rotate(-40deg) translateX(9rem) translateY(5rem);
      });
      .middle-block({
         transform: rotate(0) translateX(2rem) translateY(2.5rem);
      })
   }
   .header__aside_text {
      position: relative;
      z-index: 50;
      .headline-4();
      line-height: 2.6rem;
   }
}
