
@padding-top: 7rem;
@padding-bottom: 5rem;

.header__main_holder {
   width: 60%;
   .flex();
   flex-shrink: 0;
   
   padding-top: @padding-top;
   padding-bottom: @padding-bottom;
}

.header__text {
   width: 93%;
   margin-top: 2.5rem;
   
   color: @color-text-white;
   .body-regular-3();
   line-height: 2rem;

}
.header__button {
   max-width: 282px;
   margin-top: 1.5rem;
}


#container {
   .header__main_holder {
      padding-top: 5rem;
      padding-bottom: 3rem;
   }
}
