include __second
.menu__items_holder
   label#federal.menu__item
      input( type='checkbox' name='menu' ).hidden.menu_checkbox
      span Федеральные проекты
      i.icon_arrow_thin
      .menu__second_order
         +second('Современная школа')
         +second('Успех каждого ребенка')
         +second('Молодые профессионалы')
         +second('Цифровая образовательная среда')
         +second('Социальные лифты для каждого')
         +second('Социальная активность')
         +second('Патриотическое воспитание')
         +second('Молодежь России')

   label.menu__item
      input( type='checkbox' name='menu' ).hidden.menu_checkbox
      span Инфраструктура
      span.add проекта
      i.icon_arrow_thin
      .menu__second_order
         +second('Центр образования «Точка роста»')
         +second('Центр «IT-куб»')
         +second('Кванториум')
         +second('Школьный Кванториум')
         +second('Детский и мобильный технопарк')
         +second('«Кванториум»')
         +second('Педагогический Кванториум')
         +second('Центр опережающей профессиональной подготовки')
         +second('Центр «ДНК»')
         +second('Центр выявления и поддержки одарённых детей')
         +second('Центр непрерывного повышения профессионального мастерства педагогических работников')

   a.menu__item Результаты
   a.menu__item План развития
      span.add проекта
   a.menu__item О проекте
      span.add &laquo;Образование&raquo;
