include __federal
include __infrastructure
.menu__items_holder
   label.menu__item
      input( type='checkbox' name='menu' ).hidden.menu_checkbox
      span Федеральные проекты
      i.icon_arrow_thin
      .menu__second_order
         +federal('Современная школа', 'school')
         +federal('Успех каждого ребенка', 'success')
         +federal('Молодые профессионалы', 'professional')
         +federal('Цифровая образовательная среда', 'cos')
         +federal('Социальная активность', 'social_activity')
         +federal('Социальные лифты для каждого', 'social_lift')
         +federal('Патриотическое воспитание', 'patriot')
         +federal('Молодежь России', 'youth')

   label.menu__item
      input( type='checkbox' name='menu' ).hidden.menu_checkbox
      span Инфраструктура
      i.icon_arrow_thin
      .menu__second_order
         +infrastructure('Центр образования &laquo;Точка&nbsp;роста&raquo;', 'tochka_rosta')
         +infrastructure('Центр &laquo;IT&ndash;куб&raquo;', 'IT-kub')
         +infrastructure('&laquo;Кванториум&raquo;', 'kvantorium')
         +infrastructure('Школьный &laquo;Кванториум&raquo;', 'school_kvantorium')
         +infrastructure('Детский и&nbsp;мобильный технопарк', 'mobile_technopark')
         //+infrastructure('&laquo;Кванториум&raquo;', 'kvantorium_2')
         +infrastructure('Педагогический &laquo;Кванториум&raquo;', 'pedagogical_kvantorium')
         +infrastructure('Центр опережающей профессиональной подготовки', 'center_advanced_training')
         +infrastructure('Центр &laquo;ДНК&raquo;', 'center_DNA')
         +infrastructure('Центр выявления и&nbsp;поддержки одарённых детей', 'center_sirius')
         +infrastructure('Центр непрерывного повышения профессионального мастерства педагогических работников', 'center_teachers_professional_development')

   a( href='./results.html').menu__item Результаты
   a( href='./plan.html').menu__item План развития
   a( href='./about.html').menu__item О проекте
