menu.mobile__container
   .wrapper.mobile__holder
      .mobile__icon
   .mobile__menu( style='display: none' )
      .mobile__items
         .mobile__item О проекте &laquo;Образование&raquo;
         .mobile__item
            span Инфраструктура проекта
            i.icon_arrow_thin
         .mobile__item Результаты
         .mobile__item План развития проекта
