menu.aside_menu__container
   .ratio
   .aside_menu__bg
      .aside_menu__holder
         .wrapper
            .aside_menu__cross
               .first
               .middle
               .last
            .aside_menu__content




