menu.aside_menu__container
   .ratio
   .aside_menu__bg
      .aside_menu__holder
         .wrapper
            .aside_menu__cross
               .first
               .middle
               .last
            .aside_menu__content
               .aside_menu__items
                  +federal('Современная школа', 'school')
                  +federal('Успех каждого ребенка', 'success')
                  +federal('Молодые профессионалы', 'professional')
                  +federal('Цифровая образовательная среда', 'cos')
                  +federal('Социальная активность', 'social_activity')
                  +federal('Социальные лифты для каждого', 'social_lift')
                  +federal('Патриотическое воспитание', 'patriot')
                  +federal('Молодежь России', 'youth')



