mixin slider_item( title, txt, link )
   a( href='#{link}' target='_blank' alt='!{title}' ).slider__item
      .slider__image
         img( src='../../assets/images/projects/#{title}.png')
      .slider__about !{txt}
