.cover() {
   background-repeat: no-repeat;
   background-size: cover;
}
.contain() {
   background-repeat: no-repeat;
   background-size: contain;
}

.bg( @name ) {
   background-image: url("../data/bg/@{name}");
}
.pseudo( @name ) {
   background-image: url("../data/bg/pseudo/@{name}");
}
.background( @name ) {
   background-image: url("../data/bg/background/@{name}");
}
.polygon( @name ) {
   background-image: url("../data/bg/polygon/@{name}");
}

.orange_header() {
   .background('header-orange.svg');
   background-position: right;
   .cover();
}

.blue_header-bg() {
   .background('header-blue.svg');
   background-position: top right;
   .cover();
   .to( 1450px, {
      //background-position: 70%;
   })
}
.header-pseudo-blue() {
   .pseudo('header-pseudo-blue.png');
   background-position: right top;
   .contain();
}
.header-pseudo-blue-gradient() {
   .pseudo('pseudo-blue-gradient.svg');
   background-position: right;
   .cover();
}

.logo-image() {
   background-image: url("../data/logo/npr.svg");
   .contain();
   background-position: top;
}
.logo-title() {
   background-image: url("../data/logo/npr_text.svg");
   .contain();
   background-position: left top;
}
.logo-title-xs() {
   background-image: url("../data/logo/np_text-xs.svg");
   .contain();
   background-position: left top;
}
.logo-title-top() {
   background-image: url("../data/logo/np_text-top.svg");
   .contain();
   background-position: left top;
}
.logo-pseudo() {
   .polygon('polygon-3-main.svg');
   background-position: center;
   .contain();
}
.logo-pseudo-md() {
   .polygon('polygon-2.svg');
   background-position: center;
   .contain();
}


.aside-arrow-white() {
   background-image: url("../data/icons/arrow-white.svg");
   .contain();
   background-position: center;
}
.aside-arrow-blue() {
   background-image: url("../data/icons/arrow-blue.svg");
   .contain();
   background-position: center;
   
   width: 5rem;
   height: 4rem;
}

.aside-icon-tail() {
   background-image: url("../data/icons/tail.svg");
   .contain();
   background-position: center;
   
}
.wrapper-main-blue() {
   background-image: url("../data/bg/polygon/polygon-1-main.svg");
   .contain();
   background-position: center;
}
.wrapper-main-white() {
   background-image: url("../data/bg/polygon/polygon-1-main-white.png");
   .contain();
   background-position: center;
}

.footer-bg-orange() {
   .background('footer-orange.svg');
}

.logo( @name ) {
   background-image: url("../data/logo/@{name}.svg");
   .contain();
   background-position: center;
}
.logo-np() {
   .logo('npr-footer');
}
.logo-minpros() {
   .logo('minpros');
}


.map-bg() {
   .background( 'long-blue-gradient.svg' );
   background-repeat: no-repeat;
   .cover();
}
.map() {
   .bg( 'map.svg' );
   background-position: center;
   .cover();
}
.map_index() {
   .bg( 'map.png' );
   background-position: top;
   .contain();
}

.header-aside-image() {
   .pseudo('header-aside-text.svg');
   background-position: center;
   .contain();
}


/* pages main images */

.image( @name ) {
   background-image: url("../data/images/pages/@{name}.jpg");
}
.headline( @name ) {
   background-image: url("../data/bg/headline/@{name}");
}
.header-pages() {
   background-position-x: right;
    background-position-y: 95%;
   .cover();
   .md-block({
      background-position-y: 100%;
      background-size: contain;
   });
   .xs-block({
      //background-position-y: 100%;
      background-size: cover;
   })
}
.header-pseudo-school() {
   .image('school');
   .header-pages();
}
.header-pseudo-success() {
   .image('success');
   .header-pages();
}
.header-pseudo-professional() {
   .image('professional');
  .header-pages();
}
.header-pseudo-cos() {
   .image('cos');
  .header-pages();
}
.header-pseudo-social_activity() {
   .image('social_activity');
  .header-pages();
}
.header-pseudo-social_lift() {
   .image('social_lift');
  .header-pages();
}
.header-pseudo-patriot() {
   .image('patriot');
  .header-pages();
}
.header-pseudo-youth() {
   .image('youth');
  .header-pages();
}

.header-pseudo-about() {
   background-image: url("../data/images/about.jpg");
  .header-pages();
}
.about-info-icon( @name ) {
   background-image: url("../data/icons_article/about/@{name}.svg");
   .contain();
   background-position: left;
}


// Headline

.headline-blue() {
   .headline('1.svg');
   background-position: right;
   .contain();
}
.icon-result() {
   .headline('improve.png');
   background-position: left;
   .contain();
}

.headline-blue-dark() {
   .headline('2.svg');
   background-position: right;
   .contain();
}
.icon-ensuring() {
   .headline('gear.png');
   background-position: left;
   .contain();
}

.icon-infrastructure() {
   .headline('numbers.png');
   background-position: left;
   .contain();
}
.headline-about-blue() {
   .headline('about-headline.svg');
   background-position: right;
   .contain();
}

.headline-plan() {
   .headline('headline-plan.svg');
   background-position: right;
   .contain();
}

.icon-footage() {
   .headline('learn.png');
   background-position: left;
   .contain();
}
.headline-plan-footage() {
   .headline('headline-plan-footage.svg');
   background-position: right;
   .contain();
}

.deadline-icon() {
   .headline('deadline.png');
   background-position: left;
   .contain();
}

.headline-orange() {
   .headline('headline-orange.svg');
   background-position: right;
   .contain();
}
.headline-purple() {
   .headline('headline-purple.svg');
   background-position: right;
   .contain();
}
.headline-red() {
   .headline('headline-red.svg');
   background-position: right;
   .contain();
}
.headline-i-blue() {
   .headline('headline-blue.svg');
   background-position: right;
   .contain();
}
.headline-green() {
   .headline('headline-green.svg');
   background-position: right;
   .contain();
}
.headline-g-blue() {
   .headline('headline-g-blue.svg');
   background-position: right;
   .contain();
}
.headline-dgreen() {
   .headline('headline-dgreen.svg');
   background-position: right;
   .contain();
}


// Headline END


// IT-CUBE

.it-cube( @name ) {
   background-image: url("../data/it-cube/@{name}");
}
.cube() {
   .it-cube( 'headline.svg');
   background-position: left;
   .cover();
}
.headline-text-cube() {
   .it-cube( 'headline-text.svg');
   background-position: bottom;
   .contain();
}
.headline-boy() {
   .it-cube( 'headline-boy.png');
   background-position: right bottom;
   .contain();
}
.it-provide( @name ) {
   background-image: url("../data/it-cube/provide/@{name}.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}
.it-provide-bg() {
   .it-cube( 'bg.svg');
   background-position: right;
   .cover();
}

.it-areas( @name ) {
   background-image: url("../data/it-cube/areas/@{name}.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}
.it-diagram() {
   .it-cube( 'diagram.svg');
   background-position: bottom;
   .contain();
}
.polygon-blue() {
   .polygon('polygon-blue.svg');
   background-position: right;
   .contain();
}
// IT-CUBE END

.deadline-pseudo-blue() {
   .pseudo('deadline-pseudo-blue.png');
   background-position: top;
   .cover();
}

.polygon-3-main-white() {
   .polygon('polygon-3-main-white.svg');
   background-position: top;
   .contain();
}
.polygon-3-person-white() {
   .polygon('polygon-3-person-white.svg');
   background-position: top;
   .contain();
}
.polygon-1-white() {
   .polygon('polygon-1-white.svg');
   background-position: top;
   .contain();
}

.polygon-purple() {
   .polygon('polygon-purple.svg');
   background-position: bottom;
   .contain();
}


.aside-menu-bg() {
   .background('aside-bg.svg');
   background-repeat: no-repeat;
   background-position: right top;
   background-size: contain;
}
.mobile-polygon-pseudo() {
   .polygon('polygon-3-mobile.svg');
   background-repeat: no-repeat;
   background-position: right top;
   background-size: contain;
}


.projects-slick() {
   .background('projects-slick.svg');
   background-position: center;
   .contain();
}

.about_project() {
   .background('about-project.svg');
   background-position: top;
   .cover();
}
.about_footer() {
   .pseudo('about-footer.svg');
   background-position: top;
   .cover();
}
.about_bottom-polygon() {
   .polygon('about-bottom-polygon.svg');
   background-position: center;
   .contain();
}

.region() {
   .pseudo('region.svg');
   background-position: top;
   .cover();
}
.region-adapt() {
   .pseudo('region-adapt.svg');
   background-position: top;
   .cover();
}
.region-sm() {
   .pseudo('region-sm.svg');
   background-position: top;
   .cover();
}








// infrastructure footer pseudo
.page_footer() {
   .pseudo('page-footer.svg');
   background-position: right;
   .contain();
}
// infrastructure header pseudo
.infrastructure_header() {
   .pseudo('header-infrastructure.svg');
   background-position: top;
   .contain();
}
