doctype
html
   include ../../assets/jade/static/__header
   +head('Региональные центры выявления и&nbsp;поддержки одаренных детей | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__sirius
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'sirius', 'Региональные центры выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи', 'Региональные центры выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи, созданные с&nbsp;учетом опыта Образовательного Фонда &laquo;Талант и успех&raquo;, создаются в&nbsp;соответствии с&nbsp;<a class="hover text-blue" href="http://www.kremlin.ru/acts/assignments/orders/53425" target="_blank" >поручением Президента Российской Федерации</a>. Их целью является организация системной работы с&nbsp;талантливыми детьми и&nbsp;молодежью в&nbsp;области науки, искусства и&nbsp;спорта', '')

         include  ../../assets/jade/content/pages/infrastructure/__info-two
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О региональных центрах')
            .infrastructure_info__container.infrastructure_info-purple
               .wrapper
                  +info-two( 'created', '61', 'создано<br>и&nbsp;функционирует', 'plan', '85', 'будет работать<br>к концу 2024 года')
                  .info_list__container
                     +info-text( 'создание возможностей для выявления талантливой молодежи и&nbsp;построения успешной карьеры в&nbsp;области науки, технологий и&nbsp;инноваций')
                     +info-text( 'формирование образовательной политики в&nbsp;регионах')
                     +info-text( 'вовлечение промышленных предприятий, научных, культурных, спортивных и&nbsp;общественных организаций в&nbsp;создание образовательных программ')
                     +info-text( 'индивидуальное сопровождение одаренных детей и&nbsp;молодежи в&nbsp;соответствии с&nbsp;задачами социально-экономического и&nbsp;промышленного развития региона')

         section( aria-label='О региональном центре')
            .wrapper.mb4
               article
                  b.text-blue.mt4 Региональные центры призваны действовать как агрегатор передовых педагогических технологий в&nbsp;интересах талантливых школьников и&nbsp;молодежи региона
                  ul.mt2.ml3
                     li.flex.mt1 Они консолидируют образовательные, культурные и&nbsp;спортивные ресурсы
                     li.flex.mt1 Проводят интенсивные образовательные программы
                     li.flex.mt1 Координируют особо значимые мероприятия по&nbsp;работе с&nbsp;талантливыми детьми и&nbsp;молодежью в&nbsp;регионе

                  .span.mt3 У каждого школьника региона, в&nbsp;котором открыт региональный центр, есть возможность пройти
                     h1.inline.mr.ml бесплатное обучение по&nbsp;программе дополнительного образования
                     | в&nbsp;региональном центре, пройдя успешный конкурсный отбор
                  .span.mt1 Научно-методической поддержкой регионов, повышением квалификации педагогов, обменом опытом и&nbsp;лучшими практиками по&nbsp;работе с&nbsp;одаренными детьми занимается
                     h1.inline.mr.ml Фонд &laquo;Талант и&nbsp;успех&raquo;

         section( aria-label='Скачать информацию обо всех центрах Сириус')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Реестр Региональных центров выявления и&nbsp;поддержки одаренных детей, работающие по&nbsp;модели Образовательного центра &laquo;Сириус&raquo;', '')


         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

                  include ../../assets/jade/content/pages/pagination

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt8.mb5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название 1', '', 'sirius_11')
                  +video( 'Название 5', '', 'sirius_5')
                  +video( 'Название 6', '', 'sirius_6')
                  +video( 'Название 7', '', 'sirius_7')


               .span.center.mt4 Вебинары, методические конференции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название 1', '', 'sirius_1')
                  +video( 'Название 2', '', 'sirius_2')
                  +video( 'Название 4', '', 'sirius_4')
                  +video( 'Название 3', '', 'sirius_3')

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/__footer-link
         include ../../assets/jade/content/pages/__info_block/__footer-mail
         include ../../assets/jade/content/pages/__info_block/__footer-phone
         section( aria-label='Контакты региональных центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Образовательный Фонд &laquo;Талант и&nbsp;успех&raquo; ', '', 'full')
                  +top( 'Адрес:', '', 'Краснодарский край, пгт&nbsp;&laquo;Сириус&raquo;, Олимпийский пр-т, д.&nbsp;40, 354349', '', 'full')
                  +site( 'Сайт:', 'https://sochisirius.ru/regions-info')
                  +phone( 'Горячая линия:', '+7&nbsp;(800)&nbsp;100-76-63', '+78001007663')
                  +mail( 'Электронная почта:', 'help@sochisirius.ru')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
