doctype
html
   include ../../assets/jade/static/__header
   +head('Региональные центры выявления и&nbsp;поддержки одаренных детей | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__sirius
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'sirius', 'Региональные центры выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи', 'Региональные центры выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи, созданные с&nbsp;учетом опыта Образовательного Фонда &laquo;Талант и успех&raquo;, создаются в&nbsp;соответствии с&nbsp;<a class="hover text-blue" href="http://www.kremlin.ru/acts/assignments/orders/53425" target="_blank" >поручением Президента Российской Федерации</a>. Их целью является организация системной работы с&nbsp;талантливыми детьми и&nbsp;молодежью в&nbsp;области науки, искусства и&nbsp;спорта', '')

         include  ../../assets/jade/content/pages/infrastructure/__info-two
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О региональных центрах')
            .infrastructure_info__container.infrastructure_info-purple
               .wrapper
                  +info-two( 'created', '61', 'создано<br>и&nbsp;функционирует', 'plan', '85', 'будет работать<br>к концу 2024 года')
                  .info_list__container
                     +info-text( 'создание возможностей для&nbsp;выявления талантливой молодежи и&nbsp;построения успешной карьеры в&nbsp;области науки, технологий и&nbsp;инноваций')
                     +info-text( 'формирование образовательной политики в&nbsp;регионах')
                     +info-text( 'вовлечение промышленных предприятий, научных, культурных, спортивных и&nbsp;общественных организаций в&nbsp;создание образовательных программ')
                     +info-text( 'индивидуальное сопровождение одаренных детей и&nbsp;молодежи в&nbsp;соответствии с&nbsp;задачами социально&ndash;экономического и&nbsp;промышленного развития региона')

         section( aria-label='Общие сведения об Образовательном центре')
            .wrapper.mb7
               article
                  b.text-blue.mt4 Региональные центры призваны действовать как агрегатор передовых педагогических технологий в&nbsp;интересах талантливых школьников и&nbsp;молодежи региона
                  ul.mt2.ml3
                     li.flex.mt1 Они консолидируют образовательные, культурные и&nbsp;спортивные ресурсы
                     li.flex.mt1 Проводят интенсивные образовательные программы
                     li.flex.mt1 Координируют особо значимые мероприятия по&nbsp;работе с&nbsp;талантливыми детьми и&nbsp;молодежью в&nbsp;регионе

                  .span.mt3 У&nbsp;каждого школьника региона, в&nbsp;котором открыт региональный центр, есть возможность пройти
                     h1.inline.mr.ml бесплатное обучение по&nbsp;программе дополнительного образования
                     | в&nbsp;региональном центре, пройдя успешный конкурсный отбор
                  .span.mt1 Научно&ndash;методической поддержкой регионов, повышением квалификации педагогов, обменом опытом и&nbsp;лучшими практиками по&nbsp;работе с&nbsp;одаренными детьми занимается
                     h1.inline.mr.ml Фонд &laquo;Талант и&nbsp;успех&raquo;

               .footer_line
               article
                  b.text-blue.mt4 Общие сведения об&nbsp;Образовательном центре &laquo;Сириус&raquo;
                  .span.mt2 Образовательный центр &laquo;Сириус&raquo; создан Образовательным Фондом &laquo;Талант и&nbsp;успех&raquo; на&nbsp;базе олимпийской инфраструктуры по&nbsp;инициативе Президента Российской Федерации В.В.&nbsp;Путина. Фонд учрежден 24&nbsp;декабря 2014&nbsp;г. выдающимися российскими деятелями науки, спорта и&nbsp;искусства.
                  .span.mt1 Цель работы Образовательного центра &laquo;Сириус&raquo;&nbsp;&mdash; раннее выявление, развитие и&nbsp;дальнейшая профессиональная поддержка одарённых детей, проявивших выдающиеся способности в&nbsp;области искусств, спорта, естественнонаучных дисциплин, а&nbsp;также добившихся успеха в&nbsp;техническом творчестве.

               article.info_line__holder.mb2.mt2
                  .info_line__icon.icon-check-blue
                  .info_line__text.items-center
                     .span.inline Центр работает &nbsp;
                     b.text-blue круглый год
               article.info_line__holder.mb2.mt15
                  .info_line__icon.icon-check-blue
                  .info_line__text.items-center
                     .span.inline Проезд и&nbsp;пребывание в&nbsp;Центре для&nbsp;детей &nbsp;
                     b.text-blue бесплатные
               article.info_line__holder.mb2.mt15
                  .info_line__icon.icon-check-blue
                  .info_line__text
                     .span.inline Ежемесячно в&nbsp;&laquo;Сириус&raquo; приезжают
                     b.text-blue  800 детей
                     .span.inline  в&nbsp;возрасте
                     b.text-blue  10-17&nbsp;лет
                     .span.inline  из&nbsp;всех регионов России. Их сопровождают более
                     b.text-blue  100 преподавателей и&nbsp;тренеров,
                     .span.inline повышающих в&nbsp;Центре свою квалификацию
               article.info_line__holder.mb2.mt15
                  .info_line__icon.icon-check-blue
                  .info_line__text
                     .span.inline Образовательная
                     b.text-blue  программа рассчитана на&nbsp;24&nbsp;дня
                     .span.inline  и&nbsp;включает в&nbsp;себя как занятия по&nbsp;специальности, так и&nbsp;развивающий досуг, мастер&ndash;классы, творческие встречи с&nbsp;признанными в&nbsp;своих областях профессионалами, комплекс оздоровительных процедур, а&nbsp;в&nbsp;течение учебного года общеобразовательные занятия






         section( aria-label='Скачать информацию обо всех центрах Сириус')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Реестр Региональных центров выявления и&nbsp;поддержки одаренных детей, работающие по&nbsp;модели Образовательного центра &laquo;Сириус&raquo;', '')


         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

                  include ../../assets/jade/content/pages/pagination

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt8.mb5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Запись мастер-класса по использованию цифровой лаборатории для определения влияния температуры, на скорость реакции, рН растворов солей, теплового эффекта химических реакций', '', 'sirius_11')
                  +video( 'Записи мастер-классов, лекториев для учителей технологии и ОБЖ центров &laquo;Точка роста&raquo; (продолжительность: с 02:00:27 до 07:25:12)', '', 'sirius_5')

                  include ../../assets/jade/content/pages/pagination

               .span.center.mt4 Вебинары, методические конференции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название 1', '', 'sirius_1')
                  +video( 'Название 2', '', 'sirius_2')

                  include ../../assets/jade/content/pages/pagination

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/__footer-link
         include ../../assets/jade/content/pages/__info_block/__footer-mail
         include ../../assets/jade/content/pages/__info_block/__footer-phone
         include ../../assets/jade/content/pages/__info_block/__footer-telegram
         include ../../assets/jade/content/pages/__info_block/__footer-vk
         include ../../assets/jade/content/pages/__info_block/__footer-site
         include ../../assets/jade/content/pages/__info_block/__footer-rutube

         section( aria-label='Контакты региональных центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +ssite( 'Официальный сайт', 'https://sochisirius.ru', 'half')
                  +rutube( 'Образовательный центр &laquo;Сириус&raquo; на&nbsp;RuTube', 'https://rutube.ru/channel/24246836', 'half')
                  +vk( 'Образовательный центр &laquo;Сириус&raquo;', 'https://vk.com/sirius.talents', 'half')
                  +telegram( 'Официальный Telegram-канал Образовательного центра &laquo;Сириус&raquo;', 'https://t.me/sirius_talents', 'half')
                  .footer_line
                  +top( 'Федеральный оператор:', '', 'Образовательный Фонд &laquo;Талант и&nbsp;успех&raquo; ', '', 'full')
                  +top( 'Адрес:', '', 'Краснодарский край, пгт&nbsp;&laquo;Сириус&raquo;, Олимпийский пр-т, д.&nbsp;40, 354349', '', 'full')
                  +phone( 'Горячая линия:', '+7&nbsp;(800)&nbsp;100-76-63', '+78001007663', '')
                  +mail( 'Электронная почта:', 'help@sochisirius.ru', '')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
