doctype
html
   include ../../assets/jade/static/__header
   +head('Центры "Дом научной коллаборации" | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__dna
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'dnk', 'Ключевые центры дополнительного образования &laquo;Дом научной коллаборации&raquo;', 'Центры &laquo;Дом научной коллаборации&raquo;&nbsp;&mdash;  это центры, создаваемые на&nbsp;базе вузов: они предоставляют школьникам возможность получить опыт работы над научными задачами вместе с&nbsp;настоящими учеными и&nbsp;внести собственный вклад в&nbsp;проводимые исследования', '')

         include  ../../assets/jade/content/pages/infrastructure/__info-one
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О площадках')
            .infrastructure_info__container.infrastructure_info-blue
               .wrapper
                  article.info__container.mb4
                     .info__icon.icon-created
                     h1.info__number.text-white 30
                     h2.info__title.text-white центров в&nbsp;27 субъектах
                        br
                        | создано и&nbsp;функционирует
                  .info_list__container
                     +info-text( 'Центры ДНК нацелены на&nbsp;создание среды ускоренного развития для детей в&nbsp;стенах университета, что позволит им получать знания и&nbsp;экспертизу от&nbsp;научных сотрудников и&nbsp;выстраивать собственную траекторию развития через реализацию проектной деятельности, используя инфраструктуру и&nbsp;кадровый потенциал вуза')
                     article.info_line__holder.text-white.mb2
                        .info_line__icon.icon-check
                        ul.info_line__text Направленая, по&nbsp;которым Центры ДНК реализуют дополнительные общеобразовательные программы:
                           li.mt2 &laquo;Детский университет&raquo;
                           li.mt1 &laquo;Малая академия&raquo;
                           li.mt1 &laquo;Урок технологии&raquo;
                           li.mt1 &laquo;Педагог К-21&raquo;

         section( aria-label='Скачать информацию о контактах всех центров непрерывного повышения профессионального мастерства педагогических работников')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Детские технопарки &laquo;Кванториум&raquo;<br>На карте России', '')


         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt8.mb5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название 1', 'sirius/1.jpg', 'sirius_1')
                  +video( 'Название 2', 'sirius/2.jpg', 'sirius_2')
                  +video( 'Название 4', 'sirius/4.jpg', 'sirius_4')
                  +video( 'Название 3', 'sirius/3.jpg', 'sirius_3')

               .span.center.mt4 Вебинары, методические конфиренции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название 1', 'sirius/1.jpg', 'sirius_11')
                  +video( 'Название 5', 'sirius/5.jpg', 'sirius_5')
                  +video( 'Название 6', 'sirius/6.jpg', 'sirius_6')
                  +video( 'Название 7', 'sirius/7.jpg', 'sirius_7')

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/__footer-link
         include ../../assets/jade/content/pages/__info_block/__footer-mail
         include ../../assets/jade/content/pages/__info_block/__footer-phone
         include ../../assets/jade/content/pages/__info_block/__footer-vk
         section( aria-label='Контакты площадок' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное государственное бюджетное образовательное учреждение дополнительного образования &laquo;Федеральный центр дополнительного образования и&nbsp;организации отдыха и&nbsp;оздоровления детей&raquo; ', '', 'full')
                  +top( 'Юридический и&nbsp;фактический адрес:', '', 'г.&nbsp;Москва, Ростокинский проезд, дом&nbsp;3, 107014', '', 'full')
                  +phone( 'Телефон:', '+7&nbsp;(495)&nbsp;603-30-15', '+74956033015')
                  +mail( 'Электронная почта:', 'info@fedcdo.ru')
                  +vk( 'Проект центра в&nbsp;социальных сетях', 'https://vk.com/cdnkofficial')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
