doctype
html
   include ../../assets/jade/static/__header
   +head('Центры непрерывного повышения профессионального мастерства педагогических работников | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__ctpd
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'pedagogikal_m', 'Центры непрерывного повышения профессионального мастерства педагогических работников', 'Ведущий институт вовлечения педагогических работников и управленческих кадров в национальную систему профессионального роста ', '')

         include  ../../assets/jade/content/pages/infrastructure/__info-one
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О центре')
            .infrastructure_info__container.infrastructure_info-orange
               .wrapper
                  +info-one( 'created', '119', 'создано<br>и&nbsp;функционирует')
                  .info_list__container
                     +info-text( 'Формирование системы методического сопровождения освоения программ ДППО с использованием персонифицированных образовательных маршрутов на основе выявленных дефицитов профессиональных компетенций, в том числе с применением сетевых форм реализации программ')
                     +info-text( 'Фасилитация переноса приобретенных (усовершенствованных) профессиональных компетенций в ежедневную педагогическую (управленческую) практику')
                     +info-text( 'Выявление, систематизация, отбор и распространение новых рациональных и эффективных педагогических (управленческих) практик')
                     +info-text( 'Создание и развитие распределенной сети муниципальной методической поддержки, муниципальных тьюторов')

         include ../../assets/jade/content/about/__about-target
         section( aria-label='О центре')
            .wrapper.mb4
               b.text-blue.mt4 Сформирована и функционирует единая федеральная система научно-методического сопровождения педагогических работников и управленческих кадров, с целью формирования системы:
               .info_about__content
                  include ../../assets/jade/content/pages/__info_block/__more
                  +about-targets( '1', 'В качестве структурных подразделений существующих организаций региональной инфраструктуры методического сопровождения педагогических работников в 2021 году создано <h1 class="inline ml mr">64 центра непрерывного повышения профессионального мастерства</h1> педагогических работников (далее - ЦНППМ) в 64 субъектах Российской Федерации', '')
                  +more( 'С учетом созданных ранее ЦНППМ в 21 субъекте Российской Федерации к концу 2021 года во всех субъектах Российской Федерации созданы и функционируют ЦНППМ. Создание и функционирование ЦНППМ осуществляется в соответствии с методическими рекомендациями Минпросвещения России')
                  +about-targets( '2', 'Созданный федеральный реестр дополнительных профессиональных (педагогических) программ (ФР ДПП) <h1 class="inline ml mr">обеспечивается наполнением программами переподготовки и повышения квалификации</h1> педагогических работников и управленческих кадров, в том числе с использованием дистанционных образовательных технологий, отвечающих запросам системы образования', '')
                  +about-targets( '3', 'На базе образовательных организаций высшего образования к концу 2022 года сформировано <h1 class="inline ml mr">не менее 20 научно-методических центров</h1> сопровождения педагогических работников', '')
                  +about-targets( '4', 'Разработаны организационные и методические <h1 class="inline ml mr">основы диагностики профессиональных дефицитов</h1> педагогических работников и управленческих кадров образовательных организаций, с возможностью получения индивидуального плана профессионального роста', '')


                  +more( 'С целью обеспечения соответствия и актуальности дополнительных профессиональных программ современным технологиям обучения, внедрения единых подходов к профессиональному развитию педагогических работников и управленческих кадров, своевременного обновления программ, а также формирования программ, направленных на устранение выявленных профессиональных дефицитов педагогических работников и управленческих кадров, <h1 class="inline ml mr">ФР ДПП формируется из программ, прошедших общественно-профессиональную экспертизу</h1>')

               b.text-blue.mt1 Созданная единая федеральная система научно-методического сопровождения педагогических работников и управленческих кадров обеспечивает:
               ul.mt2.ml3
                  li.flex.mt1 выстраивание единой системы профессионального развития педагогических работников и управленческих кадров образовательных организаций, а также сопровождение их индивидуальных траекторий развития
                  li.flex.mt1 разработку различных форм поддержки и сопровождения учителей
                  li.flex.mt1 создание условий для овладения навыками использования современных технологий, в том числе цифровых
                  li.flex.mt1 внедрение в образовательный процесс современных технологий обучения и воспитания, в том числе проектных форм работы с учащимися
                  li.flex.mt1 формирование и развитие исследовательской культуры педагогических работников


         section( aria-label='Скачать информацию о контактах всех центров непрерывного повышения профессионального мастерства педагогических работников')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Центры непрерывного повышения профессионального мастерства педагогических работников', '')

         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt5.mb4
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название', 'sirius/1.jpg')
                  +video( 'Название', '')
                  +video( 'Название', '')
                  +video( 'Название', '')

               .span.center.mt2 Вебинары, методические конфиренции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название', 'sirius/1.jpg')
                  +video( 'Название', '')
                  +video( 'Название', '')
                  +video( 'Название', 'sirius/3.jpg')


         include ../../assets/jade/content/pages/infrastructure/__footer
         include ../../assets/jade/content/pages/__info_block/top
         section( aria-label='Контакты центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное', '', 'full')
                  +top( 'Адрес:', '', 'Федеральное', '', '')
                  +top( 'Сайт:', '', 'Федеральное', '', 'half')
                  +top( 'Телефон:', '', 'Федеральное', '', '')
                  +top( 'Почта:', '', 'Федеральное', '', '')
                  +link( 'Контакты')


         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
