doctype
html
   include ../../assets/jade/static/__header
   +head('Центры цифрового образования детей "IT-куб" | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__cube
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )

         main.wrapper.mb7
            .page__caption
               .page__image
                  object( type="image/svg+xml", data="../../assets/images/infrastructure/cube.svg" )
                     img( src='../../assets/images/infrastructure/it-kub.svg')
               .page__title.mt2
                  h1.mb2 Центры цифрового образования детей &laquo;IT-куб&raquo;
                  .span Обеспечивают реализацию программ дополнительного образования, проведение мероприятий по&nbsp;тематике современных цифровых технологий и&nbsp;информатики, знакомство с&nbsp;технологиями искусственного интеллекта, а&nbsp;также просветительскую работу по&nbsp;цифровой грамотности и&nbsp;цифровой безопасности


         section( aria-label='О региональных центрах').after_video_info__container
            .wrapper
               .infrastructure__video
                  .infrastructure__video_ratio
                  .infrastructure__iframe
                     iframe(src='http://www.youtube.com/embed/DkaUsBwe0fo' width='100%' height='100%' frameborder='0' allowfullscreen)
                        p Твой браузер устарел для отображения элемента iframe
            .after_video_info__holder
               .wrapper
                  .span Центр цифрового образования детей &laquo;IT-куб&raquo;&nbsp;&mdash; это площадка дополнительного образования детей по&nbsp;программам, направленным на&nbsp;освоение актуальных и&nbsp;востребованных знаний, навыков и&nbsp;компетенций в&nbsp;сфере информационных технологий
                  .span.mt2 Это инновационная образовательная площадка, обеспечивающая:
                  .span.mt2
                     .flex.mt1
                        .icon_check
                        span повышение интереса подрастающего поколения к&nbsp;цифровым компетенциям
                     .flex.mt1
                        .icon_check
                        span развитие эффективных механизмов ранней профориентации при&nbsp;осуществлении обучающимися выбора будущей
                     .flex.mt1
                        .icon_check
                        span профессии и&nbsp;построения траектории собственного развития


         include  ../../assets/jade/content/pages/infrastructure/__info-two
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О региональных центрах')
            .infrastructure_info__container.infrastructure_info-cube
               .wrapper
                  +info-two( 'created', '198', 'создано<br>и&nbsp;функционирует', 'plan', '340', 'будет работать<br>к концу 2024 года')
                  .info_list__container
                     article.info_line__holder.text-white.mb2
                        .info_line__text Центры создаются и&nbsp;функционируют на&nbsp;базе образовательных организаций высшего, общего, среднего профессионального и&nbsp;дополнительного образования в&nbsp;целях обеспечения реализации федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo;.

         section( aria-label='На что направлены центры IT-cube').it_provide__container
            .wrapper
               h1.title.center Они направлены на&nbsp;создание среды, обеспечивающей:
               .row.mt3
                  include ../../assets/jade/content/pages/infrastructure/__it_provide
                  .it_provide__block.block_12
                     +provide( '1', 'Профориентацию школьников' )
                     +provide( '3', 'Продвижение компетенций в&nbsp;области цифровизации' )
                     +provide( '5', 'Выявление, поддержку и&nbsp;развитие у детей способностей и&nbsp;талантов' )
                  .it_provide__block.block_12
                     +provide( '2', 'Освоение обучающимися актуальных и&nbsp;востребованных знаний, навыков и&nbsp;компетенций в&nbsp;сфере информационно-коммуникационных технологий' )
                     +provide( '4', 'Развитие у детей математической, информационной грамотности, формирование критического мышления' )

         section( aria-label='Направления образовательной деятельности центров').it_areas__container
            .wrapper
               h1.title.center Рекомендованные направления образовательной деятельности Центров &laquo;IT-куб&raquo;
               .row.mt6
                  include ../../assets/jade/content/pages/infrastructure/__it_areas
                  +areas( '1', 'Программирование роботов' )
                  +areas( '2', 'Программирование на&nbsp;Python' )
                  +areas( '3', 'Мобильная разработка' )
                  +areas( '4', 'Кибергигиена и&nbsp;работа с&nbsp;большими данными' )
                  +areas( '5', 'Основы алгоритмики и&nbsp;логики' )
                  +areas( '6', 'Программирование на&nbsp;Java' )
                  +areas( '7', 'Системное администрирование' )
                  +areas( '8', 'Разработка VR/AR-приложений' )

         section( aria-label='Направления образовательной деятельности центров').it_diagram__container
            .wrapper
               h1.title Количество центров
                  .wwnow.mr.ml.letsee-guard &laquo;IT-куб&raquo;
                  | в&nbspРоссии
               .it_diagram__image

         section( aria-label='Скачать информацию о контактах всех центров непрерывного повышения профессионального мастерства педагогических работников')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Реестр Центров цифрового образования детей &laquo;IT-куб&raquo;', '')


         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

                  include ../../assets/jade/content/pages/pagination

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt8.mb5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название 1', '', 'sirius_11')
                  +video( 'Название 5', '', 'sirius_5')
                  +video( 'Название 6', '', 'sirius_6')
                  +video( 'Название 7', '', 'sirius_7')


               .span.center.mt4 Вебинары, методические конференции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название 1', '', 'sirius_1')
                  +video( 'Название 2', '', 'sirius_2')
                  +video( 'Название 4', '', 'sirius_4')
                  +video( 'Название 3', '', 'sirius_3')

         include ../../assets/jade/content/pages/infrastructure/__footer
         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/__footer-link
         include ../../assets/jade/content/pages/__info_block/__footer-mail
         include ../../assets/jade/content/pages/__info_block/__footer-phone
         section( aria-label='Контакты региональных центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное государственное автономное научное учреждение &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;', '', 'full')
                  +top( 'Зона ответственности:', '', 'Организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации', '', 'full')
                  +site( 'Сайт:', 'https://ficto.ru/')
                  +mail( 'Электронная почта:', 'it-cube@ficto.ru')
                  +phone( 'Горячая линия:', '+7&nbsp;(495)&nbsp;137-47-16, добавочный&nbsp;3', '84951374716p3')
                  article.full.mt.mb3
                     a( href='https://t.me/ITcube_metod' target='_blank').flex.items-center
                        .icon-telegram.mr1
                        .span Информационно-методический канал Федерального оператора для представителей центров цифрового образования детей &laquo;IT-куб&raquo;&nbsp;&mdash; https://t.me/ITcube_metod
                  +top( 'Центр проектного сопровождения:', '', 'Федеральный государственный автономное учреждение &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo; ', '', 'full')
                  +top( 'Зона ответственности:', '', 'Организационно-методическое и&nbsp;информационное сопровождение создания Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации, а&nbsp;также организационно-техническое сопровождение субъектов Российской Федерации в&nbsp;части мониторинга использования субсидии из&nbsp;федерального бюджета с&nbsp;учётом обязательств по&nbsp;достижению значений результатов использования данной субсидии субъектами Российской Федерации', '', 'full')
                  +site( 'Сайт:', 'https://mpcenter.ru/')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
