doctype
html
   include ../../assets/jade/static/__header
   +head('Педагогические технопарки "КВАНТОРИУМ" | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__pkvantoriun
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'kvantorium', 'Педагогические технопарки «КВАНТОРИУМ»', 'Площадки, формируемые на базе образовательных организаций высшего образования, подведомственных Министерству просвещения Российской Федерации, с целью обеспечения системы образования высококвалифицированными кадрами для последующей реализации выпускниками программ основного общего образования естественно-научной и технологической направленностей и программ дополнительного образования соответствующей направленностиПлощадки, формируемые на базе образовательных организаций высшего образования, подведомственных Министерству просвещения Российской Федерации, с целью обеспечения системы образования высококвалифицированными кадрами для последующей реализации выпускниками программ основного общего образования естественно-научной и технологической направленностей и программ дополнительного образования соответствующей направленности', '')

         include  ../../assets/jade/content/pages/infrastructure/__info-one
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О площадках')
            .infrastructure_info__container.infrastructure_info-dblue
               .wrapper
                  +info-one(  'created', '20', 'создано<br>и&nbsp;функционирует', 'plan', '33', 'будет работать<br>к&nbsp;концу 2024&nbsp;года')
                  .info_list__container
                     +info-text( 'Повышение квалификации педагогических работников образовательных организаций, в том числе оснащенных современным оборудованием и средствами обучения и воспитания (детских технопарков «Кванториум», центров естественно-научной и технологической направленностей «Точка роста», центров цифрового образования «IT-куб»')
                     +info-text( 'Организация обучения студентов методикам и технологиям преподавания учебных предметов естественной-научной и технологической направленностей с использованием современного оборудования, средств обучения и воспитания, в том числе для подготовки к педагогической деятельности на базе детских технопарков «Кванториум», центров естественно-научной и технологической направленностей «Точка роста», центров цифрового образования «IT-куб»')
                     +info-text( 'Проведение профориентационной деятельности со школьниками для привлечения к последующему поступлению в педагогические вузы, в том числе через мероприятия с профильными педагогическими классами общеобразовательных организаций ')

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt5.mb4
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .materials__container.mt3
                  +video( 'Название 1', 'sirius/1.jpg', 'sirius_1')
                  +video( 'Название 2', 'sirius/2.jpg', 'sirius_2')
                  +video( 'Название 4', 'sirius/4.jpg', 'sirius_4')
                  +video( 'Название 3', 'sirius/3.jpg', 'sirius_3')

         include ../../assets/jade/content/pages/infrastructure/__footer
         include ../../assets/jade/content/pages/__info_block/top
         section( aria-label='Контакты площадок' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное', '', 'full')
                  +top( 'Юридический и почтовый адрес:', '', 'Федеральное', '', 'full')
                  +top( 'Горячая линия:', '', 'Федеральное', '', '')
                  +top( 'Электронная почта:', '', 'Федеральное', '', '')
                  +top( 'Страница проекта на сайте:', '', 'Федеральное', '', 'full')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
