doctype
html
   include ../../assets/jade/static/__header
   +head('"Точка роста" | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__tochka
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'tochka', '&laquo;Точка&nbsp;роста&raquo;', 'Создаются и&nbsp;функционируют на&nbsp;базе общеобразовательных организаций в&nbsp;целях обеспечения реализации федерального проекта &laquo;Современная школа&raquo; национального проекта &laquo;Образование&raquo;', 'Центры образования естественно-научной и&nbsp;технологической направленностей')


         section( aria-label='О региональных центрах').after_video_info__container
            .wrapper
               .infrastructure__video
                  .infrastructure__video_ratio
                  .infrastructure__iframe
                     iframe(src='https://vk.com/video_ext.php?oid=-196554063&id=456239258&hash=88de3ec56b9d4abd' width='100%' height='100%' frameborder='0' allowfullscreen='1' allow='autoplay; encrypted-media; fullscreen; picture-in-picture')
                        p Твой браузер устарел для отображения элемента iframe
            .after_video_info__holder
               .wrapper
                  .span Центр &laquo;Точка роста&raquo;&nbsp;&mdash; современное образовательное пространство в&nbsp;общеобразовательной организации, расположенной в&nbsp;сельской местности или&nbsp;малом городе, оснащенное оборудованием, средствами обучения и&nbsp;воспитания для&nbsp;практического изучения учебных предметов цифровой, естественнонаучной, технической, технологической и&nbsp;гуманитарной направленностей.
                  .span.mt2 Целями деятельности &laquo;Точек роста&raquo; являются:
                  .span.mt2
                     .flex.mt1
                        .icon_check
                        span создание условий для внедрения новых методов обучения и&nbsp;воспитания
                     .flex.mt1
                        .icon_check
                        span обеспечение образовательными технологиями для освоения обучающимися основных и&nbsp;дополнительных общеобразовательных программ цифрового, естественнонаучного, технического и&nbsp;гуманитарного профилей
                     .flex.mt1
                        .icon_check
                        span совершенствование методов обучения




         include  ../../assets/jade/content/pages/infrastructure/__info-two
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О центре образования')
            .infrastructure_info__container.infrastructure_info-red
               .wrapper
                  +info-two( 'created', '14&nbsp;000', 'создано<br>и&nbsp;функционирует', 'plan', '20&nbsp;509', 'будет работать<br>к&nbsp;концу 2024&nbsp;года')
                  .info_list__container
                     +info-text( 'Совершенствование условий для повышения качества образования в&nbsp;общеобразовательных организациях, расположенных в&nbsp;сельской местности и&nbsp;малых городах')
                     +info-text( 'Расширение возможностей обучающихся в&nbsp;освоении учебных предметов и&nbsp;программ дополнительного образования естественно-научной и&nbsp;технологической направленностей')
                     +info-text( 'Практическая отработка учебного материала по&nbsp;учебным предметам &laquo;Физика&raquo;, &laquo;Химия&raquo;, &laquo;Биология&raquo;')

         section( aria-label='Скачать информацию обо всех центрах образования "Точка роста"')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Перечень Региональных координаторов Центров&nbsp;образования &laquo;Точка&nbsp;роста&raquo;', '')

         include ../../assets/jade/content/pages/__info_block/__more
         section( aria-label='О центре "Точка роста"')
            .wrapper.mt4
               +more( 'Центры &laquo;Точка роста&raquo; обеспечивают повышение охвата обучающихся общеобразовательных организаций, расположенных в&nbsp;сельской местности и&nbsp;малых городах, программами основного общего и&nbsp;дополнительного образования естественно-научной и&nbsp;технологической направленностей с&nbsp;использованием современного оборудования')

         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt8.mb5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название 1', 'sirius/1.jpg', 'sirius_11')
                  +video( 'Название 5', 'sirius/5.jpg', 'sirius_5')
                  +video( 'Название 6', 'sirius/6.jpg', 'sirius_6')
                  +video( 'Название 7', 'sirius/7.jpg', 'sirius_7')

               .span.center.mt4 Вебинары, методические конференции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название 1', 'sirius/1.jpg', 'sirius_1')
                  +video( 'Название 2', 'sirius/2.jpg', 'sirius_2')
                  +video( 'Название 4', 'sirius/4.jpg', 'sirius_4')
                  +video( 'Название 3', 'sirius/3.jpg', 'sirius_3')

         include ../../assets/jade/content/pages/infrastructure/__footer
         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/__footer-link
         include ../../assets/jade/content/pages/__info_block/__footer-mail
         include ../../assets/jade/content/pages/__info_block/__footer-phone
         include ../../assets/jade/content/pages/__info_block/__footer-telegram
         section( aria-label='Контакты центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное государственное автономное учреждение &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo;', '', 'full')
                  +top( 'Адрес:', '', 'г.&nbsp;Москва, Улица Зацепа, д.&nbsp;24 стр.&nbsp;2, 115054', '', 'full')
                  +site( 'Сайт:', 'https://mpcenter.ru')
                  +phone( 'Телефон:', '+7&nbsp;(495)&nbsp;280-01-08', '+74952800108')
                  +mail( 'Электронная почта:', 'info@mpcenter.ru')
                  +telegram( 'Информационно&ndash;методический канал Центров &laquo;Точка роста&raquo;', 'https://t.me/TR_metod')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
