doctype
html
   include ../../assets/jade/static/__header
   +head('"Точка роста" | Инфраструктура проекта', '../..')

   body
      #container.container__infrastructure.container__tochka
         include ../../assets/jade/menu/infrastructure/menu
         include ../../assets/jade/menu/infrastructure/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Инфраструктура<br>проекта'  )


         include ../../assets/jade/content/pages/infrastructure/__caption
         +caption( 'tochka', '&laquo;Точка&nbsp;роста&raquo;', 'Создаются и&nbsp;функционируют на&nbsp;базе общеобразовательных организаций в&nbsp;целях обеспечения реализации федерального проекта &laquo;Современная школа&raquo; национального проекта &laquo;Образование&raquo;', 'Центры образования естественно-научной и&nbsp;технологической направленностей')

         include  ../../assets/jade/content/pages/infrastructure/__info-two
         include  ../../assets/jade/content/pages/infrastructure/__info-text-line
         section( aria-label='О центре образования')
            .infrastructure_info__container.infrastructure_info-red
               .wrapper
                  +info-two( 'created', '14&nbsp;000', 'создано<br>и&nbsp;функционирует', 'plan', '20&nbsp;509', 'будет работать<br>к&nbsp;концу 2024&nbsp;года')
                  .info_list__container
                     +info-text( '')
                     +info-text( '')
                     +info-text( '')
         section( aria-label='Скачать информацию о контактах всех центров образования "Точка роста"')
            include ../../assets/jade/content/pages/infrastructure/__map
            +map( 'Перечень Региональных координаторов Центров&nbsp;образования &laquo;Точка&nbsp;роста&raquo;', '')

         include ../../assets/jade/content/pages/__info_block/__more
         section( aria-label='О центре "Точка роста"')
            .wrapper.mt4
               +more( 'Какой-то текст')

         include ../../assets/jade/content/materials/__file
         section( aria-label='Список документов' ).mt5
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Нормативные документы
               .materials__container.mt3
                  +file( 'текст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст тексттекст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')
                  +file( 'текст текст текст')

         include ../../assets/jade/content/materials/__video
         section( aria-label='Список видеозаписей' ).mt5.mb4
            .wrapper
               .page__title
                  h1.page__title_main.text-blue.center Видеоматериалы

               .span.center.mt2 Практические мастер-классы
               .materials__container.mt3
                  +video( 'Название', 'sirius/1.jpg')
                  +video( 'Название', '')
                  +video( 'Название', '')
                  +video( 'Название', '')

               .span.center.mt2 Вебинары, методические конфиренции и&nbsp;семинары
               .materials__container.mt3
                  +video( 'Название', 'sirius/1.jpg')
                  +video( 'Название', '')
                  +video( 'Название', '')
                  +video( 'Название', 'sirius/3.jpg')

         include ../../assets/jade/content/pages/infrastructure/__footer
         include ../../assets/jade/content/pages/__info_block/top
         section( aria-label='Контакты центров' ).page_footer__container
            .wrapper
               .page_footer__info
                  +top( 'Федеральный оператор:', '', 'Федеральное', '', 'full')
                  +top( 'Адрес:', '', 'Федеральное', '', '')
                  +top( 'Сайт:', '', 'Федеральное', '', 'half')
                  +top( 'Телефон:', '', 'Федеральное', '', '')
                  +top( 'Почта:', '', 'Федеральное', '', '')
                  +link( 'Контакты')

         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
