menu.mobile__container {
   position: absolute;
   z-index: 510;
   top: 0;
   left: 0;
   width: 100%;
   //paddingding: 1.5rem 0;
   margin: 0;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   padding-inline-start: 0;
   
   display: none;
   
   .middle-block({
      display: block;
   })
}

menu.mobile__container .wrapper {
   .flex();
   .justify-end();
   .items-center();
}
.mobile__icon {
   position: relative;
   z-index: 600;
   
}


.mobile__menu {
   position: absolute;
   z-index: 510;
   right: -110%;
   top: -37.2px;
   height: calc( 100vh + 37.2px);
   min-width: 360px;
   background-color: @color-background-blue-card;
   
   box-sizing: border-box;
   padding: 8rem 6rem 3rem 3rem;
   
   transition: all .4s ease-in-out;
  
   .xs-block({
      min-width: 320px;
   })
}
