menu.mobile__container {
   position: absolute;
   z-index: 99999;
   top: 0;
   left: 0;
   width: 100%;
   padding: 36px 0;
   margin: 0;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   padding-inline-start: 0;
   
   display: none;
   
   .middle-block({
      display: block;
   })
}

.mobile__holder {
   .flex();
   .justify-end();
   .items-center();
   //height: 60px;
}

.mobile__icon {
   position: relative;
   z-index: 9999999;
   //margin: 35px 0 25px auto;
   
   width: 40px;
   height: 3px;
   
   background-color: @color-text-white;
   .tr();
}
.mobile__icon {
   &:after,
   &:before {
      .pseudo();
      position: absolute;
      z-index: 99999;
      width: 40px;
      height: 3px;
      
      background-color: @color-text-white;
      
      left: 0;
      //transition: all 10s ease-in-out;
      .tr();
   }
   &:before {
      top: -10px;
   }
   &:after {
      bottom: -11px;
   }
}
.open .mobile__icon {
   transform: rotate(-45deg);
   &:before {
      top: 0;
      transform: rotate(180deg);
   }
   &:after {
      top: 0;
      transform: rotate(90deg);
   }
}


.mobile__menu {
   position: absolute;
   z-index: 9999;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   box-sizing: border-box;
   padding: 4rem 0 0 6rem;
   background-color: #0055FF;
   
}
.mobile__items {
   box-sizing: border-box;
   padding: 3rem 0;
   color: @color-text-white;
   
   .body-regular-3();
}
.mobile__item {
   position: relative;
   z-index: 99999;
   .flex();
   .items-center();
   width: 24rem;
   padding: 2.2rem 0;
   box-sizing: border-box;
   color: @color-text-white;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
   
   span {
      margin-right: 1rem;
   }
   .icon_arrow_thin {
      .icon_arrow_thin-white();
   }
   
   &:last-of-type {
      border-bottom: none;
   }
}
