nav.menu__container
   .background_orange
   .wrapper
      .background_orange
      .menu__content
         include menu_items
         form.menu__form
            input( type='search' placeholder='Поиск...' ).menu__search_line.hidden
            .menu__icons_holder
               .menu__eye
                  .icon_eye
                  .icon_eye_off.hidden
               .menu__search.icon_search
               .menu__close.icon_close.hidden

