nav.menu__container
   .background_orange
   .wrapper
      .background_orange
      .menu__content
         include menu_items
         form.menu__form
            .menu__icons_holder
               a( href="javascript://" onclick="letsee_toggle_panel()" ).menu__eye
                  .icon_eye
                  .icon_eye_off.hidden

