include __federal
include __infrastructure

#black_back
menu.mobile__container
   .wrapper
      .mobile__eye
         .icon_eye
         .icon_eye_off.hidden
      .mobile__icon
         .first
         .middle
         .last
   .mobile__menu
      include ../search
      .mobile__items
         label( for='federal' ).mobile__item
            input#federal( type='checkbox' name='mobile' ).hidden.menu_checkbox
            span Федеральные проекты
            i.icon_arrow_thin-white
            .menu__second_order
               +federal('Современная школа', 'school')
               +federal('Успех каждого ребенка', 'success')
               +federal('Молодые профессионалы', 'professional')
               +federal('Цифровая образовательная среда', 'cos')
               +federal('Социальная активность', 'social_activity')
               +federal('Социальные лифты для каждого', 'social_lift')
               +federal('Патриотическое воспитание', 'patriot')
               +federal('Молодежь России', 'youth')
         label( for='infrastructure' ).mobile__item
            input#infrastructure( type='checkbox' name='mobile' ).hidden.menu_checkbox
            span Инфраструктура проекта
            i.icon_arrow_thin-white
            .menu__second_order
               +infrastructure('Центр образования  &laquo;Точка роста&raquo;', 'tochka_rosta')
               +infrastructure('Центр  &laquo;IT&ndash;куб&raquo;', 'IT-kub')
               +infrastructure('Кванториум', 'kvantorium')
               +infrastructure('Школьный Кванториум', 'school_kvantorium')
               +infrastructure('Детский и мобильный технопарк', 'mobile_technopark')
               +infrastructure(' &laquo;Кванториум&raquo;', 'kvantorium_2')
               +infrastructure('Педагогический Кванториум', 'pedagogical_kvantorium')
               +infrastructure('Центр опережающей профессиональной подготовки', 'center_advanced_training')
               +infrastructure('Центр  &laquo;ДНК&raquo;', 'center_DNA')
               +infrastructure('Центр выявления и поддержки одарённых детей', 'center_gifted_children')
               +infrastructure('Центр непрерывного повышения профессионального мастерства педагогических работников', 'center_teachers_professional_development')

         a( href='../../results.html' ).mobile__item Результаты
         a( href='../../plan.html' ).mobile__item План развития
         a( href='../../about.html' ).mobile__item О проекте &laquo;Образование&raquo;
