doctype
html

   include assets/jade/static/__header
   +head('Национальный проект &laquo;Образование&raquo;')

   body
      #container
         include assets/jade/header/menu
         include assets/jade/header/header

         include assets/jade/footer/footer




