doctype
html

   include assets/jade/static/__header
   +head('Национальный проект &laquo;Образование&raquo;', '.')

   body
      #container_main
         include assets/jade/menu/menu
         include assets/jade/menu/mobile
         include assets/jade/header/main/header

         include assets/jade/content/main/tile_federal
         include assets/jade/content/main/map

         include assets/jade/footer/footer


      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/slick.min.js' )
      script( src='./assets/js/scrollbar.min.js' )
      script( src='./assets/js/select.js' )
      script( src='./assets/js/concat.js' )





