doctype
html
   include ./assets/jade/static/__header
   +head('План развития проекта | Национальный проект &laquo;Образование&raquo;', '.')

   body
      #container.container__plan
         include assets/jade/menu/menu
         include assets/jade/menu/mobile
         include ./assets/jade/content/pages/header
         +header( 'План<br>развития проекта' )

         main.page__title.mt8.mb8
            h1.page__title_main.text-blue.center.mb1 Содержание мероприятий
            .wrapper
               h2.center.mb2 национального проекта &laquo;Образование&raquo; включает в&nbsp;себя работу по&nbsp;направлениям, обеспечивающим
               .title__blocks
                  h3.text-blue совершенствование образовательной инфраструктуры
                  h3.text-blue повышение профессионального мастерства педагогических работников и&nbsp;управленческих кадров системы образования
                  h3.text-blue развитие содержания образования

          include assets/jade/content/pages/__headline
         +headline( 'blue headline__plan', 'infrastructure', 'Инфраструктура', 'Ключевые перспективы национального проекта &laquo;Образование&raquo; в&nbsp;разрезе основных направлений его реализации включают в&nbsp;себя результаты, которые планируется достигнуть к&nbsp;концу 2024&nbsp;года' )

         include assets/jade/content/pages/__info_block/top
         section( aria-label='Желаемые результаты работы проекта' ).info_block__container
            .wrapper
               .info_about__content
                  +top( '1&nbsp;062&nbsp;267<br>новых мест', '', 'в&nbsp;общеобразовательных организациях', '', '')
                  +top( '20&nbsp;509<br>центров &laquo;Точка&nbsp;роста&raquo;', '', 'в&nbsp;общеобразовательных организациях сельской местности и&nbsp;малых&nbsp;городов', '', '')
                  +top( '496 детских технопарков<br>&laquo;Кванториум&raquo;,', '', 'в&nbsp;том числе 361 в&nbsp;общеобразовательных организациях', '', '')
                  +top( '900<br>коррекционных школ ', '', 'с&nbsp;обновленной материально&ndash;технической базой', '', '')
                  +top( '85 региональных<br>центров выявления,', '', 'поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи', '', '')
                  +top( '1&nbsp;354 тысяч<br> новых мест', '', 'дополнительного образования детей', '', '')
                  +top( '5&nbsp;824<br>общеобразовательных организаций', '', 'с&nbsp;современными условиями для занятий физической культурой и&nbsp;спортом', '', '')
                  +top( '22&nbsp;010<br>образовательных организаций,', '', 'оснащенных оборудованием для внедрения цифровой образовательной среды', '', '')
                  +top( '340 центров ', '', 'цифрового образования детей &laquo;IT-куб&raquo;', '', '')

         section( aria-label='Содержание и&nbsp;воспитание' ).mt3.mb3
            .page__title.mb4
               h1.page__title_main.text-blue.center Содержание и&nbsp;воспитание

            include assets/jade/content/about/__about-target
            .wrapper
               .flex-wrap.row
                  +about-targets( '1', 'Обновление нормативных и&nbsp;методических документов, определяющих содержание общего образования', 'half')
                  +about-targets( '2', 'Рабочие программы воспитания в&nbsp;каждой образовательной организации общего, дополнительного и&nbsp;профессионального образования', 'half')
                  +about-targets( '3', '<h3>40% обучающихся</h3> общеобразовательных организаций, охваченных профориентационными мероприятиями', 'half')
                  +about-targets( '4', 'Проведение всероссийской олимпиады школьников и&nbsp;обеспечение участия сборных команд России в&nbsp;международных олимпиадах', 'half')
                  +about-targets( '5', '<h3>52 комплекта</h3> верифицированного цифрового образовательного контента, соответствующего ФГОС общего образовани', 'half')
                  +about-targets( '6', 'Система управления качеством образования на&nbsp;основе мониторинга данных о&nbsp;состоянии системы образования', 'half')
                  +about-targets( '7', 'Внедрены методики преподавания общеобразовательных дисциплин с&nbsp;учетом профессиональной направленности программ среднего профессионального образования', 'half')

         include assets/jade/content/pages/__headline
         +headline( 'blue-dark', 'footage', 'Кадры', 'Обеспечивается работа единой федеральной системы научно-методического сопровождения педагогических работников и&nbsp;управленческих кадров, в&nbsp;том числе центров непрерывного повышения профессионального мастерства педагогических работников в&nbsp;субъектах Российской Федерации' )
         section( aria-label='Кадры' ).info_block__container.mb4
            .wrapper
               .info_about__content
                  +top( 'Обеспечивается работа', '', 'единой федеральной системы научно&ndash;методического сопровождения педагогических работников и&nbsp;управленческих кадров, в&nbsp;том числе центров непрерывного повышения профессионального мастерства педагогических работников в&nbsp;субъектах Российской Федерации', '', 'half')
                  +top( '60% педагогических работников', '', 'общеобразовательных организаций, прошедших повышение квалификации, в&nbsp;том числе в&nbsp;центрах непрерывного повышения профессионального мастерства', '', 'half')
                  +top( '33&nbsp;<br>педагогических технопарка &laquo;Кванториум&raquo;', '', 'в&nbsp;педагогических вузах', '', '')
                  +top( 'Сформирована целевая', '', 'модель аттестации руководителей общеобразовательных организаций', '', '')
                  +top( '3&nbsp;350 учителей,', '', 'прибывших на&nbsp;работу в&nbsp;сельскую местность, получивших единовременную финансовую поддержку', '', '')
                  +top( '28% штатных<br>педагогов-психологов', '', 'образовательных организаций, повысивших квалификацию', '', '')
                  +top( '6&nbsp;250 школ', '', 'с&nbsp;низкими образовательными результатами, получивших адресную методическую поддержку', '', '')
                  +top( '602&nbsp;700 педагогов,', '', 'подключенных к&nbsp;платформе цифровой образовательной среды', '', '')


         include assets/jade/footer/footer


      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/letsee.js' )
      script( src='./assets/js/slick.min.js' )
      script( src='./assets/js/concat.js' )
