doctype
html
   include ./assets/jade/static/__header
   +head('Результаты работы | Национальный проект &laquo;Образование&raquo;', '.')

   body
      #container.container__results
         include assets/jade/menu/menu
         include assets/jade/menu/mobile
         include ./assets/jade/content/pages/header
         +header( '2019-2022<br>результаты' )

         main.page__title
            h1.page__title_main.text-blue.center.mb1 Ключевые результаты национального
               br
               | проекта &laquoОбразование&raquo;
            h2.text-blue.center по&nbsp;итогам 2019&ndash;2022 годов

         include assets/jade/content/main/__result
         section( aria-label='Перечень результатов' ).results__container.mb8
            .wrapper
               +result( '' +
               'Построено <h1> более 800&nbsp;новых школ</h1> общей мощностью <h1>более 498&nbsp;тысяч мест</h1>', '1', 'Новые школы')
               +result( '' +
               'Созданы и&nbsp;функционируют <h1>14&nbsp;000 центров образования &laquo;Точка&nbsp;роста&raquo;,</h1> в&nbsp;которых обучающиеся общеобразовательных организаций, расположенных <h2>в сельской местности и&nbsp;малых городах,</h2> осваивают образовательные программы общего и&nbsp;дополнительного образования <h3>с использованием современного оборудования</h3>', '2', '"Точка роста"')
               +result( '' +
               'Созданы и&nbsp;функционируют <h1>232&nbsp;детских технопарка &laquo;Кванториум&raquo;,</h1> в&nbsp;том числе <h2>97 технопарков</h2> на&nbsp;базе общеобразовательных организаций', '3', 'Детские технопарки "Кванториум"')
               +result( '' +
               '<h1>637&nbsp;школ,</h1> реализующих исключительно адаптированные образовательные программы, <h2>обновили материально&ndash;техническую базу</h2> для&nbsp;проведения занятий <h3>для детей с&nbsp;ОВЗ&nbsp;и&nbsp;инвалидностью</h2>', '4', 'Обновление материально-технической базы')
               +result( '' +
               'Функционирует единая федеральная система научно-методического <h1>сопровождения педагогических работников и&nbsp;управленческих кадров,</h1> в&nbsp;рамках которой в&nbsp;субъектах Российской Федерации работают центры непрерывного повышения профессионального мастерства педагогов. <h2>Более 33% педагогических работников</h2> и&nbsp;управленческих кадров системы образования <h2>прошли повышение квалификации</h2> по&nbsp;дополнительным профессиональным программам из&nbsp;федерального реестра', '5', 'Повышение квалификации')
               +result( '' +
               'Для обеспечения системы образования высококвалифицированными кадрами <h1>в&nbsp;20&nbsp;педагогических вузах</h1> Минпросвещения России <h2>функционируют педагогические технопарки &laquo;Кванториум&raquo;</h2>', '6', 'Педагогические технопарки "Кванториум"')
               +result( '' +
               '<h1>Созданы более 1&nbsp;миллиона новых мест</h1> <h2>дополнительного образования</h2> в&nbsp;образовательных организациях различных типов', '7', 'Новые места дополнительного образования')
               +result( '' +
               '<h1>В&nbsp;4&nbsp;223 школах</h1> сельской местности и&nbsp;малых городов <h2>обновлены условия для занятий физической культурой и&nbsp;спортом</h2>', '8', 'Обновлены условия для занятий физической культурой и&nbsp;спортом')
               +result( '' +
               'Созданы и&nbsp;функционируют <h1>198&nbsp;центров цифрового образования &laquo;IT-куб&raquo;,</h1> <h2>30&nbsp;ключевых центров</h2> дополнительного образования детей, <h2>85&nbsp;мобильных технопарков &laquo;Кванториум&raquo;</h2>', '9', 'Центры')
               +result( '' +
               '<h1>В&nbsp;61&nbsp;субъекте</h1> Российской Федерации функционируют региональные <h2>центры выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов</h2> у&nbsp;детей и&nbsp;молодежи <h3>(&laquo;Мини-Сириусы&raquo;)</h2>', '10', '')
               +result( '' +
               'Созданы и&nbsp;функционируют <h1>59&nbsp;центров опережающей профессиональной подготовки</h1> <h2>и&nbsp;более 3100&nbsp;современных мастерских,</h2> которые обеспечены передовыми технологиями <h2>для проведения практических учебных занятий</h2> по&nbsp;освоению современных профессий и&nbsp;последующей сдачи экзаменов в&nbsp;форме демонстрационного экзамена', '11', '')
               +result( '' +
               '<h1>Более&nbsp;37%</h1> общеобразовательных организаций <h2>обеспечены материально&ndash;технической базой</h2> для внедрения цифровой образовательной среды', '12', '')
               +result( '' +
               '<h1>Более 13&nbsp;миллионов граждан Российской Федерации вовлечены</h1> центрами (сообществами, объединениями) поддержки добровольчества <h2>в&nbsp;добровольческую (волонтерскую) деятельность</h2>', '13', '')
               +result( '' +
               '<h1>Более&nbsp;660&nbsp;тысяч граждан</h1> Российской Федерации <h2>охвачены проведением 39&nbsp;профессиональных конкурсов</h2> в&nbsp;целях предоставления возможностей <h3>для профессионального и&nbsp;карьерного роста</h3>', '14', '')
               +result( '' +
               '<h1>Более&nbsp;570&nbsp;тысяч человек,</h1> в&nbsp;том числе детей и&nbsp;молодежи, <h2>приняли участие во&nbsp;всероссийских, окружных и&nbsp;межрегиональных мероприятиях в&nbsp;сфере патриотического воспитания,</h2> организованных при&nbsp;грантовой поддержке из&nbsp;средств федерального бюджета', '15', '')
               +result( '' +
               'Сборные команды Российской Федерации успешно <h1>приняли участие в&nbsp;международных олимпиадах по&nbsp;8-ми общеобразовательным предметам</h1> (математика, физика, биология, химия, география, информатика, астрономия и&nbsp;астрофизика, по&nbsp;естественным наукам для юниоров). Членами сборных команд <h2>завоеваны 146&nbsp;медали, в&nbsp;том числе 103&nbsp;золотые и&nbsp;42&nbsp;серебряных</h2>', '16', '')
               +result( '' +
               'Оказана адресная <h1>методическая поддержка 3000 общеобразовательных организаций, имеющих низкие образовательные результаты обучающихся</h1>', '17', '')


         include assets/jade/footer/footer


      script( src='./assets/js/jquery.js' )
      script( src='./assets/js/letsee.js' )
      script( src='./assets/js/slick.min.js' )
      script( src='./assets/js/concat.js' )
