mixin about-development( icon, main, text )
   article.info_about__article.info_about__article-development
      .info_about__icon( class='info_about__icon-#{icon}')
      .info_about__text.info_about__text-development
         h1 !{main}
         .span !{text}
