mixin about-plan( icon, main )
   article.info_about__article.info_about__article-plan
      .info_about__icon( class='info_about__icon-#{icon}')
      .info_about__text.info_about__text-plan
         h1 !{main}
