mixin map( name, file )
   .map__container
      .wrapper
         .map
         a( href='./assets/data/files/#{file}').map__content
            .map__text !{name}
            .map__button.button_white
               .map__button_icon
               .map__button_text Скачать

