a.header__aside_block.aside__block_white
   .header__aside_icon
   .header__aside_text
      span 2019-2021
      br
      | результаты
a.header__aside_block.aside__block_blue
   .header__aside_icon
   .header__aside_text План развития
      br
      | проекта
