section( aria-label='Логотип национального проекта "Образование"' ).header__main_logo
.header__title
   .header__logo_top
   .header__logo_title
   .header__text
      p &rdquo;Национальный проект &laquo;Образование&raquo; направлен&nbsp;на&nbsp;достижение национальной цели Российской Федерации, определенной Президентом России Владимиром Путиным&nbsp;&mdash; обеспечение возможности самореализации и&nbsp;развития талантов.&rdquo;
   a( href='./about.html').header__button.button_white
      span Подробнее о&nbsp;проекте

