// Text
@color-text-black: #000000;
@color-text-white: #ffffff;
@color-text-gray: #444444;
@color-text-blue: #014BE4;

// Button
@color-button-blue: #1D5EE4;
@color-button-red: #EB7158;
@color-button-blue-hover: #276EFF;
@color-button-red-hover: #FF7154;
@color-button-gray: #CACACA;

// Background
@color-background-white: #FFFFFF;
@color-background-blue-card: #0055FF;
@color-background-orange-main: #D9735E;
@color-background-blue-footer: #0A53D3;
@color-background-blue-dark: #004be3;
@color-background-blue-light: #75C3FB;

// Opacity
@opacity-blue-item-40: rgba(0, 85, 255, 0.4);
@opacity-white-item-60: rgba(255, 255, 255, 0.6);
@opacity-white-item-30: rgba(255, 255, 255, 0.31);

// Additional
@color-additional-blue: #28A3FC;
@color-additional-red-1: #EF5E5E;
@color-additional-red-2: #D94141;

// Gradient
@gradient-blue-main: linear-gradient(261.76deg, rgba(72, 132, 255, 0.6) 9.44%, rgba(0, 85, 255, 0.6) 73.62%), #003CB9;;
@gradient-blue: linear-gradient(133.76deg, rgba(0, 123, 236, 0.4) 26%, rgba(73, 168, 255, 0) 64.47%, rgba(248, 248, 248, 0) 82.92%), rgba(222, 229, 242, 0.4);;
@gradient-orange-item: linear-gradient(349.67deg, #BD4534 -6.65%, #FFB398 81.57%);;
@gradient-blue-item: linear-gradient(261.76deg, #0055FF 9.44%, rgba(72, 132, 255, 0.12) 73.62%);
@gradient-blue-card: linear-gradient(180deg, rgba(21, 84, 211, 0.3) 0%, rgba(255, 255, 255, 0) 78.65%);
@gradient-blue-map: linear-gradient(167.03deg, #0055FF 9.36%, rgba(155, 188, 255, 0.87) 200.08%);;

// Other
@shadow-text-blue: 0 0 20px rgba(72, 132, 255, 0.859);
@shadow-text-white: 0 0 15px rgba(255, 255, 255, 0.6);
@box-shadow:  0 4px 15px rgba(0, 0, 0, 0.45);
@box-shadow-light: 0 5px 10px rgba(68, 68, 68, 0.26);
@box-shadow-light-hover: 0 11px 12px rgba(68, 68, 68, 0.4);
@box-shadow-blue: 0 0 15px 0 rgba(72, 132, 255, 0.6);
@box-shadow-blue-dark: 0 0 15px 0 rgb(72 132 255);
@box-shadow-white: 0 0 15px 0 rgba(255, 255, 255, 0.6);

// Colors
@orange: #FC7368;
@purple: #9C75BA;
@red: #EF5E5E;
@blue: #28A3FC;
@dblue: #017BEB;


// Height
@height-menu: 65px;

@height-header-pseudo: calc( 330% - 2vw );
@margin-top-headline: calc( 25rem + 3vw);

@inner: 3vw;
@inner-md: 2vw;
@inner-sm: 1vw;

@padding-bottom-headline: 20rem;

.icon-block() {
   width: 19.2rem;
   height: 14.9rem;
   margin-right: 3rem;
   
   flex-shrink: 0;
  
}

@border-w: .2rem;
