

#container_main,
#container {
   position: relative;
   overflow: hidden;
}

.wrapper {
   .wrapper();
}
.row {
   .row-flex();
}
.col {
   .col();
}


a {
   text-decoration: none;
   cursor: pointer;
   
   color: inherit;
   .tr();
}
