html {
   font-size: 15px;
   .md( font-size, 12px );
   .sm( font-size, 10px );
}
body {
   font-size: 1.1rem; /* 17 */
   .sm( font-size, 1.3rem ); /* 13 */
   
   //.body-regular-6();
   line-height: 126%;
}

.wrapper {
   .wrapper();
}
.row {
   .row-flex();
}
.col {
   .col();
}


a {
   display: block;
   text-decoration: none;
   cursor: pointer;
   
   color: inherit;
   .tr();
}
