.rotate {
   transform: rotate(180deg);
   .tr();
}
.hide {
   opacity: 0;
}
.title {
   .oswald-regular();
   font-size: 4rem;
   line-height: 4.4rem;
   
   .ll-block({
      font-size: 3.8rem;
      line-height: 4.2rem;
   });
   
   color: @color-text-gray;
}
.text-blue {
   color: @color-text-blue;
}
.text-white {
   color: @color-text-white;
}
b.text-blue {
   display: block;
    font-size: 1.8rem;
    line-height: 2.2rem;
   color: @color-text-blue;
}
.left {
   text-align: left;
}
.center {
   text-align: center;
}
.page__title {
   position: relative;
   z-index: 500;
}
main h1,
.page__title h1 {
   .oswald-regular();
   font-size: 4rem;
   line-height: 4.4rem;
   
   .ll-block({
      font-size: 3.8rem;
      line-height: 4.3rem;
   });
   
   .middle-block({
      font-size: 3rem;
      line-height: 3.7rem;
   });
}

main h2,
.page__title h2 {
   .oswald-light();
   font-size: 1.5rem;
   line-height: 2rem;
   color: @color-text-gray;
}

.headline() {
   color: @color-text-blue;
   .opensans-semibold();
}
article h1 {
   .headline();
   font-size: 2rem; // 30
   line-height: 2.3rem;

   .ll-block({
      font-size: 1.8rem;
      line-height: 2.2rem;
   });
   .middle-block({
      font-size: 1.9rem;
      line-height: 2.3rem;
   });
}
article h2 {
   .headline();
   font-size: 1.7rem; // 30
   line-height: 2rem;

   .ll-block({
      font-size: 1.6rem;
      line-height: 1.9rem;
   });
}
article h3 {
    display: initial;
   .headline();
   font-size: 1.5rem;
   line-height: 1.8rem;
}
.span,
ul li {
   .opensans-regular();
   color: @color-text-gray;
   
   font-size: 1.3rem;
   line-height: 1.7rem;
   
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   })
}


.page__title_main {
   position: relative;
   z-index: 300;
   text-transform: uppercase;
   min-width: 500px;
   
   .md-block({
      min-width: 300px;
   })
}

.block_12 {
   .size(12);
   .size-xxl(12);
   .size-xl(9);
   .size-md(24);
   .size-sm(24);
}
.block_12 + .select2.select2-container.select2-container--default.select2-container--below > .selection {
   max-width: calc(50% - 30px) !important;
   .xxl( max-width, calc(50% - 18px));
   .xl( max-width,  calc(37.5% - 18px));
   .md( max-width,  calc(100% - 12px));
   .sm( max-width,  calc(100% - 12px));
}
.block_7 {
   .size(7);
   .size-xxl(7);
   .size-xl(8);
   .size-md(24);
   .size-sm(24);
}
.block_7 + .select2{
    max-width: calc(29.17% - 30px);
   .xxl( max-width, calc(29.17% - 18px));
   .xl( max-width,  calc(33.34% - 18px));
   .md( max-width,  calc(100% - 12px));
   .sm( max-width,  calc(100% - 12px));
}
.block_5 {
   .size(5);
   .size-xxl(5);
   .size-xl(7);
   .size-md(12);
   .size-sm(12);
   .size-xs(14);
   .size-xs(24);
}

/*.block_5 {
   .size();
   .size-xxl();
   .size-md();
   .size-sm();
}*/
