.rotate {
   transform: rotate(180deg);
   .tr();
}
.hide {
   opacity: 0;
}
.title {
   .oswald-regular();
   color: @color-text-gray;
}
.text-blue {
   color: @color-text-blue;
}
.text-white {
   color: @color-text-white;
}
b.text-blue {
   display: block;
   color: @color-text-blue;
}
.left {
   text-align: left;
}
.center {
   text-align: center;
}
.page__title {
   position: relative;
   z-index: 500;
}


main h1,
.page__title h1 {
   .oswald-regular();
  
}

main h2,
.page__title h2 {
   .oswald-light();
   color: @color-text-gray;
}

.headline() {
   color: @color-text-blue;
   .opensans-semibold();
}
article h1 {
   .headline();
}
article h2 {
   .headline();
}
article h3 {
    display: initial;
   .headline();
}
.span,
ul li.flex {
   .opensans-regular();
   color: @color-text-gray;
}


.wwnow {
   display: inline-block;
   white-space: nowrap;
   margin-right: 5px;
   margin-left: 5px;
}
.page__title_main {
   position: relative;
   z-index: 300;
   text-transform: uppercase;
   min-width: 500px;
   
   .md-block({
      min-width: 300px;
   });
   .sm-block({
      min-width: unset;
   })
}


/*
.block_12 {
   .col();
   .size(8.5);
   .size-xxl(8.5);
   .size-xl(8);
   .size-md(24);
   .size-sm(24);
 
   .select2-container {
      min-width: 100%;
   }
   
   margin-bottom: 1.5rem;
}
.block_7 {
   .col();
   .size(9.4);
   .size-xxl(9);
   .size-xl(9.5);
   .size-md(24);
   .size-sm(24);

   .select2-container {
      min-width: 100%;
   }
   
   margin-bottom: 1.5rem;
}
.block_5 {
   .col();
   .size(6.1);
   .size-xxl(6.5);
   .size-xl(6.5);
   .size-md(12);
   .size-sm(12);
   .size-xs(14);
   .size-xs(24);
}*/

