
.hidden {
   display: none;
}
.hidden_thin {
   opacity: 0;
   width: 0;
   .tr();
}
.inner {
   margin-right: @inner;
   margin-left: @inner;
}
.mr {
   margin-right: 6px;
}
.ml {
   margin-left: 6px;
}
