.headline-1() {
   .oswald-regular();
   font-size: 3.3rem; // 50
   
   .md({
      font-size: 2.2rem; // 26
   })
}
.headline-2() {
   .oswald-regular();
   font-size: 2.8rem; // 42
   
   .md({
      font-size: 2.2rem; // 26
   })
}
.headline-3() {
   .oswald-bold();
   font-size: 2.7rem; // 40
   
   .md({
      font-size: 2.2rem; // 26
   })
}
.headline-4() {
   .oswald-regular();
   font-size: 2.1rem; // 32
   
   .md({
      font-size: 2.2rem; // 26
   })
}



.body-bold-1() {
   .opensans-bold();
   font-size: 2rem; // 30
}
.body-semibold-1() {
   .opensans-semibold();
   font-size: 2rem; // 30
}

.body-bold-2() {
   .opensans-bold();
   font-size: 1.7rem; // 26
}
.body-regular-2() {
   .opensans-regular();
   font-size: 1.7rem; // 26
}

.body-bold-3() {
   .opensans-bold();
   font-size: 1.5rem; // 22
}
.body-semibold-3() {
   .opensans-semibold();
   font-size: 1.5rem; // 22
}
.body-regular-3() {
   .opensans-regular();
   font-size: 1.5rem; // 22
}

.body-regular-4() {
   .opensans-regular();
   font-size: 1.3rem; // 20
   
   .md({
      font-size: 1.4rem;
   })
}

.body-bold-5() {
   .opensans-bold();
   font-size: 1.2rem; // 18
   text-transform: uppercase;
   
   .md({
      font-size: 1.3rem;
      text-transform: none;
   })
}
.body-semibold-5() {
   .opensans-semibold();
   font-size: 1.2rem; // 18
   
   .md({
      font-size: 1.3rem;
   })
}
.body-regular-5() {
   .opensans-regular();
   font-size: 1.2rem; // 18
   
   .md({
      font-size: 1.3rem;
   })
}

.body-regular-6() {
   .opensans-regular();
   font-size: 1.1rem; // 16
   
   .md({
      font-size: 1.3rem;
   })
}
