section.deadline__container {
   position: relative;
   z-index: 100;
}
section.deadline__container .wrapper {
   position: relative;
   z-index: 110;
   
   .blue_header-bg();
   
   .flex();
   .items-center();
   padding-top: 2rem;
   padding-bottom: 4rem;
   
   .md-block({
      background-size: 150%;
   });
   .xs-block({
      background-image: none;
      background-color: @color-background-blue-footer;
      .column();
      .items-start();
   })
   
}
.deadline__icon {
   position: relative;
   z-index: 120;
   
   .deadline-icon();
   .icon-block();
   width: 17rem;
   
   margin-left: @inner;
   
   .md-block({
      width: 15rem
   });
    .xs-block({
      //margin-right: 0;
      margin-top: -1.5rem;
      margin-bottom: 1.5rem;
   })
}
.deadline__text {
   color: @color-text-white;
   text-transform: uppercase;
   max-width: 50%;
   .md-block({
      max-width: 65%;
   });
   .xs-block({
      max-width: 100%;
   });
}
.deadline__text_span {
   .headline-5();
   line-height: 2.5rem;
}
.deadline__text_main {
   .oswald-bold();
   font-size: 3.7rem; // 52
   line-height: 4.5rem;
   margin-top: .5rem;
   
   .lg-block({
      font-size: 3.3rem; // 52
      line-height: 4.1rem;
   });
   .md-block({
      font-size: 2.6rem; // 52
      line-height: 3.7rem;
   });
}
