doctype
html
   include ../../assets/jade/static/__header
   +head('Патриотическое воспитание | Федеральные проекты', '../..')

   body
      #container.container__patriot
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты'  )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Патриотическое воспитание', 'Федеральный проект &laquo;Патриотическое воспитание граждан Российской Федерации&raquo; направлен <b>на&nbsp;обеспечение функционирования системы патриотического воспитания граждан Российской Федерации</b>. В&nbsp;рамках проекта ведется работа по&nbsp;развитию воспитательной работы в&nbsp;образовательных организациях общего и&nbsp;профессионального образования, проведению мероприятий патриотической направленности.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта &laquo;Патриотическое воспитание граждан Российской Федерации&raquo; к&nbsp;концу 2024 года' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/bottom
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Патриотическое воспитание граждан Российской Федерации"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '24% граждан Российской Федерации', '', 'вовлечены в&nbsp;систему патриотического воспитания', '', '')
                  +top( 'Рабочие программы воспитания', '', 'в&nbsp;каждой образовательной организации общего и&nbsp;профессионального образования', '', '')
                  +bottom( 'Организована деятельность патриотического движения Ассоциации студенческих патриотических клубов', 'inline mr', ' &laquo;Я&nbsp;ГОРЖУСЬ&raquo;', 'mt', '')
                  +top( '1&nbsp;660&nbsp;000 ЧЕЛОВЕК,', 'inline mr', 'участвующих во&nbsp;всероссийских, окружных и&nbsp;межрегиональных мероприятиях патриотической направленности, в&nbsp;том числе дети и&nbsp;молодежь', 'inline', 'half')
                  +top( '600&nbsp;000 УЧАСТНИКОВ МЕРОПРИЯТИЙ', '', 'в&nbsp;рамках системы межпоколенческого взаимодействия и&nbsp;обеспечения преемственности поколений', '', 'half' )
                  +top( '150 МЕРОПРИЯТИЙ,', '', 'направленных на&nbsp;популяризацию отечественной истории в&nbsp;Российской  Федерации и&nbsp;за&nbsp;рубежом', '', '')
                  +top-bottom('1&nbsp;960&nbsp;000 участников', '', 'Всероссийского конкурса', '', ' &laquo;БОЛЬШАЯ&nbsp;ПЕРЕМЕНА&raquo;', 'mt', '')
                  +top-bottom('1&nbsp;750&nbsp;000 детей,', 'inline mr', 'вовлеченных в&nbsp;деятельность детско&ndash;юношеского военно&ndash;патриотического общественного движения', 'inline mr', ' &laquo;ЮНАРМИЯ&raquo;', 'inline', '')
                  article.info_block__text( class='thirds')
                     h1( class='inline mr') 3&nbsp;000&nbsp;000 детей,
                     .span( class='inline mr') вовлеченных в&nbsp;деятельность Общероссийской общественно&ndash;государственной детско&ndash;юношеской организации
                     .mt05
                        h2( class='inline mr') &laquo;РОССИЙСКОЕ ДВИЖЕНИЕ ШКОЛЬНИКОВ&raquo;
                        .span.inline (реорганизация)
                  //+top-bottom('3&nbsp;000&nbsp;000 детей,', 'inline mr', 'вовлеченных в&nbsp;деятельность Общероссийской общественно&ndash;государственной детско&ndash;юношеской организации', 'inline mr', ' &laquo;РОССИЙСКОЕ ДВИЖЕНИЕ ШКОЛЬНИКОВ&raquo;', 'mt', 'full')

         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2021', '31.12.2025', '"Патриотическое воспитание граждан Российской Федерации"')

         include ../../assets/jade/content/pages/__person
         section( aria-label='Руководитель и администратор проекта "Патриотическое воспитание граждан Российской Федерации"' ).person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель', 'Васильева', 'Татьяна', 'Викторовна', 'заместитель Министра просвещения Российской Федерации', 'Vasileva')
                  +person( 'Администратор', 'Бугаев', 'Александр', 'Вячеславович', 'заместитель Министра просвещения Российской Федерации', 'Bugaev')



         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
