doctype
html
   include ../../assets/jade/static/__header
   +head('Молодые профессионалы | Федеральные проекты', '../..')

   body
      #container.container__professional
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты' )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Молодые профессионалы', 'Федеральный проект &laquo;Молодые профессионалы (Повышение конкурентоспособности профессионального образования)&raquo; направлен на&nbsp;<b>обеспечение возможности обучающимся образовательных организаций</b>, реализующих программы среднего профессионального образования, <b>получить профессиональное образование, соответствующее требованиям экономики и&nbsp;запросам рынка труда</b>.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'За счет мероприятий проекта', 'к&nbsp;концу 2022&nbsp;года достигнуты следующие основные результаты и&nbsp;показатели:' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/bottom
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Молодые профессионалы"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +bottom( 'По итогам реализации результата внедрены программы профессионального обучения по&nbsp;наиболее востребованным и&nbsp;перспективным профессиям в&nbsp;', 'inline mr', '30 субъектах', 'inline', 'half')
                  //+bottom( 'Подготовка и&nbsp;проведение европейского чемпионата по&nbsp;профессиональному мастерству по&nbsp;стандартам', '', ' &laquo;ВОРЛДСКИЛЛС&raquo; В&nbsp;2023 ГОДУ', 'mt', 'half')
                  //article.full.text_blue.mb2 Новая структурная модель организационно&ndash;методического сопровождения реализации образовательных программ среднего профессионального образования
                  +middle( 'По итогам реализации результата&nbsp;&mdash;', '', '31&nbsp;000 ПРЕПОДАВАТЕЛЕЙ И&nbsp;МАСТЕРОВ', '', 'прошли повышение квалификации ', '', 'half')
                  //article.full.text_blue.mb4 К&nbsp;концу 2023&nbsp;года будет обеспечена актуализация справочника профессий, в&nbsp;части профессий, по&nbsp;которым осуществляется профессиональное обучение и&nbsp;среднее профессиональное образование в&nbsp;целях обновления перечня профессий рабочих, должностей служащих, по&nbsp;которым осуществляется профессиональное обучение и&nbsp;среднее профессиональное образование, а&nbsp;также обновления федеральных государственных стандартов среднего профессионального образования
                  +middle( 'По итогам реализации результата&nbsp;&mdash;', '', '3&nbsp;174 СОВРЕМЕННЫЕ МАСТЕРСКИЕ', '', 'в&nbsp;профессиональных образовательных организациях', '', 'half')
                  +middle( 'По итогам реализации результата&nbsp;&mdash;', '', '59 ЦЕНТРОВ', '', 'опережающей профессиональной подготовки', '', 'half')

         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '31.12.2024', '"Молодые профессионалы"')

         include ../../assets/jade/content/pages/slider/__slider_item
         section( aria-label='Объекты инфраструктуры проекта "Молодые профессионалы"' ).slider__container
            .wrapper
               .title.mb5.inner Инфраструктурные объекты
               .slider__content
                  +slider_item( '-one', 'center-opp', 'Центры опережающей профессиональной подготовки', 'Центры опережающей профессиональной подготовки', 'https://worldskills.ru/nashi-proektyi/czentr-operezhayushhej-professionalnoj-podgotovki.html')

         include ../../assets/jade/content/pages/__person
         section( aria-label='Руководитель и администратор проекта "Молодые профессионалы"' ).person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель', 'Васильева', 'Татьяна', 'Викторовна', 'заместитель Министра просвещения Российской Федерации')
                  +person( 'Администратор', 'Бугаев', 'Александр', 'Вячеславович', 'заместитель Министра просвещения Российской Федерации')

         //include ../../assets/jade/content/pages/__sources
         //section( aria-label='Источники финансирования проекта "Молодые профессионалы"' ).sources__container
         //   .wrapper
         //      .sources__content
         //         .sources__title
         //            .sources__text.title Источники финансирования проекта
         //            .sources__icon
         //         .sources__holder
         //            +sources( 'Федеральный<br>бюджет', '65,7')
         //            +sources( 'Из них передано субъектам<br>Российской Федерации', '12,7')



         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
