doctype
html
   include ../../assets/jade/static/__header
   +head('Современная школа | Федеральные проекты', '../..')

   body
      #container.container__school
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты' )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Современная школа', 'Федеральный проект &laquo;Современная школа&raquo; направлен на&nbsp;<b>обеспечение возможности детям получать качественное общее образование</b> в&nbsp;условиях, отвечающих современным требованиям, независимо от&nbsp;места проживания ребенка, <b>обеспечение возможности профессионального развития педагогических работников</b>, а&nbsp;также на&nbsp;организацию комплексного психолого&ndash;педагогического сопровождения участников образовательных отношений.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта &laquo;Современная школа&raquo; к&nbsp;концу 2024 года' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Современная школа"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '24&nbsp;337 ЦЕНТРОВ  &laquo;ТОЧКА&nbsp;РОСТА&raquo;', '', 'в&nbsp;общеобразовательных организациях сельской местности и&nbsp;малых городов (24&nbsp;950)', '', '')
                  +top( '33 ПЕДАГОГИЧЕСКИХ ТЕХНОПАРКА  &laquo;КВАНТОРИУМ&raquo;', '', 'в&nbsp;педагогических вузах', '', '')
                  +top( '428 ДЕТСКИХ ТЕХНОПАРКОВ  &laquo;КВАНТОРИУМ&raquo;,', '', 'в&nbsp;том числе 293 в&nbsp;общеобразовательных организациях', '', '')
                  +top-bottom( '28%', 'inline mr', 'педагогов&ndash;психологов образовательных организаций ', 'inline', 'пройдут курсы повышения квалификации', 'mt', '')
                  +top( '900 КОРРЕКЦИОННЫХ ШКОЛ', '', 'с&nbsp;обновленной материально&ndash;технической базой', '', '')
                  +middle( 'Методическая поддержка не&nbsp;менее', 'inline mr', '6&nbsp;250 школ', 'inline', 'показывающих низкие образовательные результаты', '', '')
                  +top('1&nbsp;061&nbsp;491 новое место', 'inline mr', 'в&nbsp;общеобразовательных организациях', 'inline', '')

         +headline( 'blue-dark', 'ensuring ', 'обеспечение работы', 'единой федеральной системы научно&ndash;методического сопровождения педагогических работников и&nbsp;управленческих кадров, в&nbsp;том числе центров непрерывного повышения профессионального мастерства педагогических работников в&nbsp;субъектах Российской Федерации.')
         section( aria-label='Перечень объектов, обеспечивающие работу проекта' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '283', 'inline mr', 'консультационных центра (службы) психолого&ndash;педагогической, диагностической и&nbsp;консультативной помощи родителям с&nbsp;детьми дошкольного возраста', 'inline', '')
                  +top( '28%', '', 'штатных педагогов&ndash;психологов образовательных организаций, повысивших квалификацию', '', '')
                  +top( '20 МИЛЛИОНОВ УСЛУГ', '', 'психолого&ndash;педагогической, методической и&nbsp;консультативной помощи будут оказаны родителям', '', '')
                  +top( '3&nbsp;350 УЧИТЕЛЕЙ,', '', 'прибывших на&nbsp;работу в&nbsp;сельскую местность, получивших единовременную финансовую поддержку', '', '')
                  +top( '37&nbsp;000 ПРЕПОДАВАТЕЛЕЙ', '', 'общеобразовательных дисциплин в&nbsp;профессиональных образовательных организациях, которые прошли повышение квалификации', '', '')
               .line_blue
               .info_block__more
                  span Благодаря реализации федерального проекта к&nbsp;2024 году будут обновлены
                  b.ml содержание и&nbsp;технологии преподавания общеобразовательных программ, в&nbsp;том числе общеобразовательных дисциплин в&nbsp;профессиональных образовательных организациях

         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '30.12.2024', '"Современная школа"')

         include ../../assets/jade/content/pages/__person
         section( aria-label='Руководитель проекта "Современная школа"' ).person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель', 'Васильева', 'Татьяна', 'Викторовна', 'заместитель Министра просвещения Российской Федерации', 'vasieva')

         include ../../assets/jade/content/pages/__sources
         section( aria-label='Источники финансирования проекта "Современная школа"' ).sources__container
            .wrapper
               .sources__content.inner
                  .sources__title
                     .sources__text.title Источники финансирования проекта
                     .sources__icon
                  .sources__holder
                     +sources( 'Федеральный<br>бюджет', '559,6')
                     +sources( 'Из них передано субъектам<br>Российской Федерации', '541,2 ')


         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts

