doctype
html
   include ../../assets/jade/static/__header
   +head('Социальная активность | Федеральные проекты', '../..')

   body
      #container.container__social_activity
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты' )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Социальная активность', 'Федеральный проект &laquo;Социальная активность&raquo; направлен на&nbsp;<b>создание условий для развития и&nbsp;поддержки добровольчества (волонтерства)</b> как ключевого элемента социальной ответственности развитого гражданского общества.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта &laquo;Социальная активность&raquo; к&nbsp;концу 2024 года' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/bottom
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Социальная активность"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +bottom( 'Ежегодный охват информационной и&nbsp;рекламной кампанией по&nbsp;популяризации добровольчества (волонтерства)&nbsp;&mdash;', '', 'НЕ&nbsp;МЕНЕЕ 5 МИЛЛИОНОВ ПРОСМОТРОВ', 'mt', 'half')
                  +top( '27&nbsp;000 координаторов', '', 'добровольцев (волонтеров), прошедших курсы (лекции, программы) по&nbsp;работе в&nbsp;сфере добровольчества (волонтерства) и&nbsp;технологиям работы с&nbsp;добровольцами (волонтерами)', '', 'half')
                  +top( '3&nbsp;500&nbsp;000 ЧЕЛОВЕК', '', 'используют единую информационную систему в&nbsp;сфере развития добровольчества (волонтерства)', '', '')
                  +top( '42 МЕРОПРИЯТИЯ', '', 'по&nbsp;различным направлениям добровольчества (волонтерства)', '', '' )
                  +top( '900 КОРРЕКЦИОННЫХ ШКОЛ', '', 'с&nbsp;обновленной материально&ndash;технической базой', '', '')
                  +top('7&nbsp;500&nbsp;000 граждан Российской Федерации,', 'inline mr', 'вовлеченных центрами (сообществами, объединениями) поддержки добровольчества (волонтерства) в&nbsp;добровольческую (волонтерскую) деятельность', 'inline', 'full')


         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '30.12.2024', '"Социальная активность"')

         include ../../assets/jade/content/pages/__sources
         section( aria-label='Источники финансирования проекта "Социальная активность"' ).sources__container
            .wrapper
               .sources__content
                  .sources__title
                     .sources__text.title Источники финансирования проекта
                     .sources__icon
                  .sources__holder
                     +sources( 'Федеральный<br>бюджет', '24,2')
                     +sources( 'Из них передано субъектам<br>Российской Федерации', '2,9')



         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
