doctype
html
   include ../../assets/jade/static/__header
   +head('Социальные лифты для каждого | Федеральные проекты', '../..')

   body
      #container.container__social_lift
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты' )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Социальные лифты для каждого', 'Федеральный проект &laquo;Социальные лифты для каждого&raquo; нацелен на&nbsp;<b>создание для граждан возможностей для профессионального и&nbsp;карьерного роста путем формирования и&nbsp;развития системы профессиональных конкурсов</b>.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта &laquo;Социальные лифты для каждого&raquo; к&nbsp;концу 2024 года' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/bottom
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Социальные лифты для каждого"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '65&nbsp;КОНКУРСОВ', '', 'в&nbsp;целях предоставления гражданам возможностей для&nbsp;профессионального и&nbsp;карьерного роста', '', '')
                  +bottom( 'Обеспечивается ежегодное проведение конкурса управленцев', '', ' &laquo;ЛИДЕРЫ&nbsp;РОССИИ&raquo;', 'mt', '')
                  +top( '800 ТЫСЯЧ ЧЕЛОВЕК', '', 'ежегодно будут охвачены проведением профессиональных конкурсов', '', '')
                  +top( 'НЕ&nbsp;МЕНЕЕ 5&nbsp;000 ВСТРЕЧ', '', '(в&nbsp;том числе в&nbsp;формате классных часов) с&nbsp;деятелями культуры и&nbsp;искусства, учеными, спортсменами, общественными деятелями и&nbsp;известными личностями современности', '', 'half')
                  article.info_block__text.half
                     .span( class='inline mr') Молодежь в&nbsp;возрасте от&nbsp;14 до&nbsp;35 лет СОСТАВИТ НЕ МЕНЕЕ
                     h1( class='inline mr') 63%
                     .span( class='inline') от&nbsp;общей численности участников конкурсов в&nbsp;рамках проектов платформы
                     h2( class='mt') &laquo;РОССИЯ&nbsp;&mdash; СТРАНА ВОЗМОЖНОСТЕЙ&raquo;

         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '31.12.2025', '"Социальные лифты для каждого"')

         include ../../assets/jade/content/pages/__person
         section( aria-label='Руководитель и администратор проекта "Социальные лифты для каждого"' ).person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель', 'Грибов', 'Денис', 'Евгеньевич', 'заместитель Министра просвещения Российской Федерации')
                  +person( 'Администратор', 'Комиссаров', 'Алексей', 'Геннадиевич', 'генеральный директор АНО &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;')

         //include ../../assets/jade/content/pages/__sources
         //section( aria-label='Источники финансирования проекта "Социальные лифты для каждого"' ).sources__container
         //   .wrapper
         //      .sources__content
         //         .sources__title
         //            .sources__text.title Источники финансирования проекта
         //            .sources__icon
         //         .sources__holder
         //            +sources( 'Федеральный<br>бюджет', '30,3')



         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
