doctype
html
   include ../../assets/jade/static/__header
   +head('Молодежь России | Федеральные проекты', '../..')

   body
      #container.container__youth
         include ../../assets/jade/menu/federal/menu
         include ../../assets/jade/menu/federal/mobile
         include ../../assets/jade/content/pages/header
         +header( 'Федеральные<br>проекты' )

         include ../../assets/jade/content/pages/__caption
         +caption( 'Молодежь России', 'Федеральный проект &laquo;Развитие системы поддержки молодежи ("Молодежь России")&raquo; направлен на&nbsp;создание условий для эффективной самореализации молодежи, в&nbsp;том числе развитие инфраструктуры. В&nbsp;рамках проекта предусмотрены мероприятия для повышения охвата молодежными проектами и&nbsp;программами и&nbsp;информирования молодежи о&nbsp;возможностях, механизмах и&nbsp;путях её самореализации в&nbsp;России.')

         include ../../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта &laquo;Молодежь России&raquo; к&nbsp;концу 2024 года' )

         include ../../assets/jade/content/pages/__info_block/top
         include ../../assets/jade/content/pages/__info_block/middle
         include ../../assets/jade/content/pages/__info_block/top-bottom
         section( aria-label='Перечень прогнозируемых результатов работы проекта "Молодежь России"' ).info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '5,1% МОЛОДЫХ ЛЮДЕЙ', '', 'охваченных молодежными проектами и&nbsp;программами', '', 'mt05')
                  +middle( 'Создание образовательного центра', 'inline mr', ' &laquo;Машук&raquo;', 'inline mr', 'на&nbsp;200 человек единовременного пребывания в&nbsp;Северо&ndash;Кавказском федеральном округе', '', '')
                  +top-bottom( '150&nbsp;000 УЧАСТНИКОВ', '', 'фестивалей творческих сообществ', 'inline mr', ' &laquo;ТАВРИДА&ndash;АРТ&raquo;', 'mt', 'mt05')
                  +top-bottom( '10&nbsp;800 УЧАСТНИКОВ', 'inline mr', 'Форума молодых деятелей культуры и&nbsp;искусств ', 'inline mr', ' &laquo;ТАВРИДА&raquo;', 'mt', '')
                  +top-bottom( '12&nbsp;000 УЧАСТНИКОВ', '', 'Всероссийских молодежных образовательных форумов', '', ' &laquo;ТЕРРИТОРИЯ&nbsp;СМЫСЛОВ&raquo;', 'mt', '')
                  +top-bottom( '900&nbsp;000 УЧАСТНИКОВ', '', 'Всероссийского студенческого конкурса', 'inline mr', ' &laquo;ТВОЙ&nbsp;ХОД&raquo;', 'mt', '')
                  +top('78 ПРОСВЕТИТЕЛЬСКИХ МЕРОПРИЯТИЙ', 'inline mr', 'с&nbsp;участием экспертов, деятелей науки и&nbsp;культуры, выдающихся ученых, спортсменов, общественных и&nbsp;государственных деятелей и&nbsp;представителей бизнес&ndash;сообщества в&nbsp;субъектах Российской Федерации', 'inline', 'thirds')

         include ../../assets/jade/content/pages/__deadline
         +deadline( '01.01.2022', '30.12.2025', '"Молодежь России"')

         include ../../assets/jade/content/pages/__person
         section( aria-label='Руководитель и администратор проекта "Молодежь России"' ).person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель и&nbsp;администратор проекта', 'Разуваева', 'Ксения', 'Денисовна', 'руководитель Федерального агентства по&nbsp;делам молодёжи', 'Razuvaeva')



         include ../../assets/jade/footer/footer
      include ../../assets/jade/static/scripts
