doctype
html
   include ../assets/jade/static/__header
   +head('Молодые профессионалы | Федеральные проекты', '..')

   body
      #container
         include ../assets/jade/menu/menu
         include ../assets/jade/menu/mobile

