doctype
html
   include ../assets/jade/static/__header
   +head('Молодые профессионалы | Федеральные проекты', '..')

   body
      #container.container__professional
         include ../assets/jade/menu/federal/menu
         include ../assets/jade/menu/federal/mobile
         include ../assets/jade/content/pages/header

         include ../assets/jade/content/pages/__caption
         +caption( 'Молодые профессионалы', 'Федеральный проект &laquo;Молодые профессионалы (Повышение конкурентоспособности профессионального образования)&raquo; направлен на&nbsp;<b>обеспечение возможности обучающимся образовательных организаций</b>, реализующих программы среднего профессионального образования, <b>получить профессиональное образование, соответствующее требованиям экономики и&nbsp;запросам рынка труда</b>.')

         include ../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта к&nbsp;концу 2024 года' )

         include ../assets/jade/content/pages/__info_block-simple/top
         include ../assets/jade/content/pages/__info_block-simple/bottom
         include ../assets/jade/content/pages/__info_block-simple/middle
         include ../assets/jade/content/pages/__info_block-simple/top-bottom
         section.info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '85 субъектов Российской Федерации', '', 'внедрят программы профессионального обучения по&nbsp;наиболее востребованным и&nbsp;перспективным профессиям', '', 'half')
                  +bottom( 'Подготовка и&nbsp;проведение европейского чемпионата по&nbsp;профессиональному мастерству по&nbsp;стандартам', '', ' &laquo;ВОРЛДСКИЛЛС&raquo; В&nbsp;2023 ГОДУ', 'mt', 'half')
                  .full.text_blue.mb2 Новая структурная модель организационно&ndash;методического сопровождения реализации образовательных программ среднего профессионального образования
                  +top( '35&nbsp;000 ПРЕПОДАВАТЕЛЕЙ И&nbsp;МАСТЕРОВ', '', 'производственного обучения, прошедших повышение квалификации', '', 'half')
                  .full.text_blue.mb2 Внедрение в&nbsp;субъектах Российской Федерации программ профессионального обучения по&nbsp;наиболее востребованным и&nbsp;перспективным профессиям
                  +top( '5&nbsp;074 СОВРЕМЕННЫЕ МАСТЕРСКИЕ', '', 'в&nbsp;профессиональных образовательных организациях', '', 'half')
                  +top('100 ЦЕНТРОВ', '', 'опережающей профессиональной подготовки', '', 'half')

         include ../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '31.12.2024')

         include ../assets/jade/content/pages/slider/__slider_item
         section.slider__container
            .wrapper
               .slider__content.inner
                  +slider_item( 'center-opp', 'Центры опережающей профессиональной подготовки', 'https://worldskills.ru/nashi-proektyi/czentr-operezhayushhej-professionalnoj-podgotovki.html')

         include ../assets/jade/content/pages/__person
         section.person__container
            .wrapper.mb6
               .person__holder
                  +person( 'Руководитель', 'Васильева', 'Татьяна', 'Викторовна', 'заместитель Министра просвещения Российской Федерации', 'vasieva')
                  +person( 'Администратор', 'Бугаев', 'Александр', 'Вячеславович', 'заместитель Министра просвещения Российской Федерации', 'bygaev')

         include ../assets/jade/content/pages/__sources
         section.sources__container
            .wrapper
               .sources__content.inner
                  .sources__title
                     .sources__icon
                     .sources__text Источники
                  .sources__holder
                     +sources( 'Федеральный<br>бюджет', '79,7')
                     +sources( 'Из них передано субъектам<br>Российской Федерации', '9,4')



         include ../assets/jade/footer/footer
      include ../assets/jade/static/scripts
