doctype
html
   include ../assets/jade/static/__header
   +head('Современная школа | Федеральные проекты', '..')

   body
      #container.container__school
         include ../assets/jade/menu/menu
         include ../assets/jade/menu/mobile
         include ../assets/jade/content/pages/header

         include ../assets/jade/content/pages/__caption
         +caption( 'Современная школа', 'Федеральный проект <b>&laquo;Современная школа&raquo;</b> направлен на&nbsp;обеспечение возможности детям получать качественное общее образование в&nbsp;условиях, отвечающих современным требованиям, независимо от&nbsp;места проживания ребенка, обеспечение возможности профессионального развития педагогических работников, а&nbsp;также на&nbsp;организацию комплексного психолого-педагогического сопровождения участников образовательных отношений.')

         include ../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта к&nbsp;концу 2024 года' )

         include ../assets/jade/content/pages/__info_block-simple/simple
         include ../assets/jade/content/pages/__info_block-simple/middle
         include ../assets/jade/content/pages/__info_block-simple/top-bottom
         section.info_block__container
            .wrapper
               .info_block__content
                  +info-simple( '<div>Точка роста</div>', 'бла-бла')
                  +info-simple( '<div>Точкааааа ааа ааааааа роста</div>', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +top-bottom( 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла', 'cbytttttt')
                  +info-simple( 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +top-bottom( 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла', 'cbytttttt')
                  +info-simple( 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +middle( 'вапвапвап роль sdfsdf', 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла')

         +headline( 'blue-dark', 'ensuring ', 'обеспечение работы', 'единой федеральной системы научно-методического сопровождения педагогических работников и управленческих кадров, в том числе центров непрерывного повышения профессионального мастерства педагогических работников в субъектах Российской Федерации.')
         section.info_block__container
            .wrapper
               .info_block__content
                  +info-simple( '<div>Точка роста</div>', 'бла-бла')
                  +info-simple( '<div>Точкааааа ааа ааааааа роста</div>', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +top-bottom( 'Точкааааа ааа ааааааа роста ', 'бла-бла бла-бла бла-бла бла-бла бла-бла ', 'cbytttttt')
                  +info-simple( 'Точкааааа ааа ааааааа роста ', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +top-bottom( 'Точкааааа ааа ааааааа роста ', 'бла-бла бла-бла бла-бла бла-бла бла-бла ', 'cbytttttt')
                  +info-simple( 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
                  +middle( 'вапвапвап роль sdfsdf', 'Точкааааа ааа ааааааа роста', 'бла-бла бла-бла бла-бла бла-бла бла-бла')
               .line_blue
               .info_block__more
                  span Благодаря реализации федерального проекта к 2024 году будут обновлены
                  b.ml содержание и технологии преподавания общеобразовательных программ, в том числе общеобразовательных дисциплин в профессиональных образовательных организациях

         include ../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '30.12.2024')



         include ../assets/jade/footer/footer
