doctype
html
   include ../assets/jade/static/__header
   +head('Социальная активность | Федеральные проекты', '..')

   body
      #container
         include ../assets/jade/menu/menu
         include ../assets/jade/menu/mobile
