doctype
html
   include ../assets/jade/static/__header
   +head('Социальные лифты для каждого | Федеральные проекты', '..')

   body
      #container.container__social_lift
         include ../assets/jade/menu/federal/menu
         include ../assets/jade/menu/mobile
         include ../assets/jade/content/pages/aside_menu/aside
         include ../assets/jade/content/pages/header

         include ../assets/jade/content/pages/__caption
         +caption( 'Цифровая образовательная среда', 'Федеральный проект <b>&laquo;Цифровая образовательная среда&raquo;</b> направлен на&nbsp;создание и&nbsp;внедрение в&nbsp;образовательных организациях цифровой образовательной среды, а&nbsp;также обеспечение реализации цифровой трансформации системы образования. В&nbsp;рамках проекта ведется работа по&nbsp;оснащению организаций современным оборудованием и&nbsp;развитие цифровых сервисов и&nbsp;контента для образовательной деятельности.')

         include ../assets/jade/content/pages/__headline
         +headline( 'blue', 'result', 'основные результаты и&nbsp;показатели,', 'которые будут достигнуты за&nbsp;счет мероприятий проекта к&nbsp;концу 2024 года' )

         include ../assets/jade/content/pages/__info_block-simple/top
         include ../assets/jade/content/pages/__info_block-simple/middle
         include ../assets/jade/content/pages/__info_block-simple/top-bottom
         section.info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '24&nbsp;337 ЦЕНТРОВ «ТОЧКА РОСТА»', '', 'в&nbsp;общеобразовательных организациях сельской местности и&nbsp;малых городов (24&nbsp;950)', '')
                  +top( '33 ПЕДАГОГИЧЕСКИХ ТЕХНОПАРКА «КВАНТОРИУМ»', '', 'в&nbsp;педагогических вузах', '')
                  +top( '428 ДЕТСКИХ ТЕХНОПАРКОВ «КВАНТОРИУМ»,', '', 'в&nbsp;том числе 293 в&nbsp;общеобразовательных организациях', '')
                  +top-bottom( '28%', 'inline mr', 'педагогов&ndash;психологов образовательных организаций ', 'inline', 'пройдут курсы повышения квалификации', '' )
                  +top( '900 КОРРЕКЦИОННЫХ ШКОЛ', '', 'с&nbsp;обновленной материально&ndash;технической базой', '')
                  +middle( 'Методическая поддержка не менее', 'inline mr', '6&nbsp;250 школ', 'inline', 'показывающих низкие образовательные результаты', '')
                  +top('1&nbsp;061&nbsp;491 новое место', 'inline mr', 'в&nbsp;общеобразовательных организациях', 'inline')

         +headline( 'blue-dark', 'ensuring ', 'обеспечение работы', 'единой федеральной системы научно&ndash;методического сопровождения педагогических работников и&nbsp;управленческих кадров, в&nbsp;том числе центров непрерывного повышения профессионального мастерства педагогических работников в&nbsp;субъектах Российской Федерации.')
         section.info_block__container
            .wrapper.mb2
               .info_block__content
                  +top( '283', 'inline mr', 'консультационных центра (службы) психолого&ndash;педагогической, диагностической и&nbsp;консультативной помощи родителям с&nbsp;детьми дошкольного возраста', 'inline')
                  +top( '28%', '', 'штатных педагогов&ndash;психологов образовательных организаций, повысивших квалификацию', '')
                  +top( '20 МИЛЛИОНОВ УСЛУГ', '', 'психолого–педагогической, методической и&nbsp;консультативной помощи будут оказаны родителям', '')
                  +top( '3&nbsp;350 УЧИТЕЛЕЙ,', '', 'прибывших на работу в&nbsp;сельскую местность, получивших единовременную финансовую поддержку', '')
                  +top( '37&nbsp;000 ПРЕПОДАВАТЕЛЕЙ', '', 'общеобразовательных дисциплин в&nbsp;профессиональных образовательных организациях, которые прошли повышение квалификации', '')
               .line_blue
               .info_block__more
                  span Благодаря реализации федерального проекта к&nbsp;2024 году будут обновлены
                  b.ml содержание и&nbsp;технологии преподавания общеобразовательных программ, в&nbsp;том числе общеобразовательных дисциплин в&nbsp;профессиональных образовательных организациях

         include ../assets/jade/content/pages/__deadline
         +deadline( '01.01.2019', '30.12.2024')

         include ../assets/jade/content/pages/slider/__slider_item
         section.slider__container.mb5
            .wrapper
               .slider__content.inner
                  +slider_item( 'tochka', 'Центры образования  <b>Центры образования</b> Центры образования Центры образования Центры образования', 'tochka')
                  +slider_item( 'kvantorium', 'Кванториум', 'kvantorium')

         include ../assets/jade/content/pages/__person
         section.person__container
            .wrapper.mb5
               .person__holder
                  +person( 'Руководитель', 'Васильева', 'Татьяна', 'Викторовна', 'заместитель Министра просвещения Российской Федерации', 'vasieva')

         include ../assets/jade/content/pages/__sources
         section.sources__container
            .wrapper.mb5
               .sources__content.inner
                  .sources__holder
                     .sources__text Источники
                  +sources( 'Федеральный бюджет', '522,0')
                  +sources( 'Из них передано субъектам Российской Федерации', '502,8 ')


         include ../assets/jade/footer/footer
      include ../assets/jade/static/scripts
