doctype
html
   include ../assets/jade/static/__header
   +head('Социальные лифты для каждого | Федеральные проекты', '..')

   body
      #container
         include ../assets/jade/menu/menu
         include ../assets/jade/menu/mobile
