mixin caption( title, text )
   main.caption__container
      .wrapper
         .caption__border.inner
         .caption__content
            .caption__title !{title}
            .caption__text.caption__text_desktop !{text}
   .caption__mobile
      .wrapper.inner
         .caption__text.caption__text_mobile !{text}

