mixin caption( title, text )
   main.caption__container
      .wrapper
         .caption__border.inner
         .caption__content
            .caption__title !{title}
            .caption__text !{text}

