mixin deadline( from, to )
   section.deadline__container.mt5
      .wrapper.mb2
         .deadline__icon
         .deadline__text
            .deadline__text_span Сроки реализации
            .deadline__text_main !{from} &mdash; !{to}

