mixin deadline( from, to, name )
   section( aria-label='Сроки реализации проекта #{name}' ).deadline__container.mt3
      .wrapper.mb4
         .deadline__icon
         .deadline__text
            .deadline__text_span Сроки реализации
            .deadline__text_main !{from}&nbsp;&mdash; !{to}

