mixin deadline( from, to )
   section.deadline__container
      .wrapper
         .deadline__icon
         .deadline__text
            .deadline__text_span Сроки реализации
            .deadline__text_main !{from} &mdash; !{to}

