mixin headline-simple( color, h )
   .headline__container( class='headline_#{color}' )
      .wrapper
         .headline__content.inner
            .headline__text
               .headline__header !{h}
