mixin header( text )
   header.header__container
      .wrapper
         a( href='../../' ).header__main_holder
            section( aria-label='Логотип национального проекта "Образование"' ).header__main_logo
            .header__title
               .header__logo_top
               .header__logo_title
         aside.header__aside_holder
            .header__aside_block.aside__block_white
               .header__aside_text !{text}

