include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__children_high-quality-education')
   .info_about__text.info_about__text-plan
      h1.mb3 Обеспечена возможность детям получать качественное общее образование в&nbsp;условиях, отвечающих современным требованиям, независимо от&nbsp;места проживания ребенка
      +bottom( 'Средневзвешенный результат Российской Федерации в&nbsp;группе международных исследований, место Российской&nbsp;Федерации&nbsp;(не&nbsp;ниже)', '', '10', '', 'full mr0 ml0')
      +bottom( 'Количество созданных новых мест в&nbsp;общеобразовательных организациях, в&nbsp;том числе расположенных в&nbsp;сельской&nbsp;местности&nbsp;и&nbsp;поселках городского&nbsp;типа,&nbsp;&mdash;', '', '1&nbsp;062&nbsp;267', '', 'full mr0 ml0')
      +bottom( 'Доля обучающихся общеобразовательных организаций, расположенных в&nbsp;сельской местности и&nbsp;малых городах, в&nbsp;которых созданы и&nbsp;функционируют центры образования естественно&ndash;научной и&nbsp;технологической&nbsp;направленностей,&nbsp;&mdash;', '', '80%', '', 'full mr0 ml0')
