include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__children_identify-support-talents')
   .info_about__text.info_about__text-plan
      h1.mb3  Создана и&nbsp;работает система выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов детей и&nbsp;молодежи
      +bottom( 'Доля детей в&nbsp;возрасте от&nbsp;5 до&nbsp;18 лет, охваченных дополнительным образованием,&nbsp;&mdash;', '', '80%', '', 'full mr0 ml0')
      +bottom( 'Количество субъектов Российской Федерации, выдающих сертификаты дополнительного образования в&nbsp;рамках системы персонифицированного финансирования дополнительного&nbsp;образования детей,&nbsp;&mdash;', '', '85', '', 'full mr0 ml0')
      +bottom( 'Доля обучающихся по&nbsp;образовательным программам основного и&nbsp;среднего общего образования, охваченных мероприятиями, направленными на&nbsp;раннюю профессиональную ориентацию, в&nbsp;том числе в&nbsp;рамках программы &laquo;Билет в&nbsp;будущее&raquo;,&nbsp;&mdash;', '', '40%', '', 'full mr0 ml0')
      +bottom( 'Охват детей деятельностью региональных центров выявления, поддержки и&nbsp;развития способностей и&nbsp;талантов у&nbsp;детей и&nbsp;молодежи, технопарков &laquo;Кванториум&raquo; и&nbsp;центров &laquo;IТ&ndash;куб&raquo;&nbsp;&mdash;', '', '10,2%', '', 'full mr0 ml0')
