include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__competitions_system-formation-development')
   .info_about__text.info_about__text-plan
      h1.mb3 Создание для граждан возможностей для профессионального и&nbsp;карьерного роста путем формирования и&nbsp;развития системы профессиональных конкурсов
      +bottom( 'Доля молодежи в&nbsp;возрасте от&nbsp;14 до&nbsp;35 лет от&nbsp;числа участников профессиональных конкурсов, направленных на&nbsp;самоопределение и&nbsp;профессиональную самореализацию, в&nbsp;рамках проектов платформы &laquo;Россия&nbsp;&mdash; страна&nbsp;возможностей&raquo;,&nbsp;&mdash;', '', '63%', '', 'full mr0 ml0')
      +bottom( 'Число граждан, охваченных проведением профессиональных конкурсов в&nbsp;целях предоставления возможностей для профессионального и&nbsp;карьерного роста&nbsp;&mdash;', '', 'до 800&nbsp;000 человек (ежегодно)', '', 'full mr0 ml0')
      +bottom( 'Доля участников профессиональных конкурсов, поступивших на&nbsp;обучение по&nbsp;образовательным программам, повысивших квалификацию и&nbsp;(или) получивших карьерный рост в&nbsp;течение года после завершения участия в&nbsp;конкурсе, в&nbsp;том числе по&nbsp;предложениям от&nbsp;работодателей,&nbsp;&mdash;', '', '0,5%', '', 'full mr0 ml0')
