include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__education_system-digital-transformation')
   .info_about__text.info_about__text-plan
      h1.mb3 Обеспечение реализации цифровой трансформации системы образования
      +bottom( 'Доля обучающихся, для которых созданы равные условия получения качественного образования вне зависимости от&nbsp;места их нахождения посредством предоставления доступа к&nbsp;федеральной информационно&ndash;сервисной платформе цифровой образовательной&nbsp;среды,&nbsp;&mdash;', '', '30%', '', 'full mr0 ml0')
      +bottom( 'Доля педагогических работников, использующих сервисы федеральной информационно&ndash;сервисной платформы цифровой образовательной&nbsp;среды,&nbsp;&mdash;', '', '45%', '', 'full mr0 ml0')
      +bottom( 'Доля образовательных организаций, использующих сервисы федеральной информационно&ndash;сервисной платформы цифровой образовательной среды при&nbsp;реализации программ основного общего образования,&nbsp;&mdash;', '', '30%', '', 'full mr0 ml0')
