include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__environment_created-introduced-in-organizations')
   .info_about__text.info_about__text-plan
      h1.mb3 Создана и&nbsp;внедрена в&nbsp;общеобразовательных организациях цифровая образовательная среда
      +bottom( 'Доля общеобразовательных организаций, оснащенных в&nbsp;целях внедрения цифровой образовательной&nbsp;среды,&nbsp;&mdash;', '', '47%', '', 'full mr0 ml0')
