include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__patriotic_education-system')
   .info_about__text.info_about__text-plan
      h1.mb3 Обеспечено функционирование системы патриотического воспитания граждан Российской Федерации
      +bottom( 'Доля граждан Российской Федерации, вовлеченных в&nbsp;систему патриотического воспитания,&nbsp;&mdash;', '', '24%', '', 'full mr0 ml0')
      +bottom( 'Доля граждан РФ в&nbsp;возрасте от&nbsp;5 до&nbsp;19 лет, непосредственно вовлеченных в&nbsp;реализацию мероприятий федерального проекта &laquo;Патриотическое воспитание граждан&nbsp;Российской&nbsp;Федерации&raquo;,&nbsp;&mdash;', '', '72%', '', 'full mr0 ml0')
      +bottom( 'Доля граждан РФ в&nbsp;возрасте от&nbsp;20 до&nbsp;30 лет, непосредственно вовлеченных в&nbsp;реализацию мероприятий федерального проекта &laquo;Патриотическое воспитание граждан&nbsp;Российской&nbsp;Федерации&raquo;,&nbsp;&mdash;', '', '50%', '', 'full mr0 ml0')
      +bottom( 'Доля граждан РФ в&nbsp;возрасте старше 30 лет, непосредственно вовлеченных в&nbsp;реализацию мероприятий федерального проекта &laquo;Патриотическое воспитание граждан&nbsp;Российской&nbsp;Федерации&raquo;,&nbsp;&mdash;', '', '10%', '', 'full mr0 ml0')
