include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__students_opportunity-for-vocational-education')
   .info_about__text.info_about__text-plan
      h1.mb3  Обеспечена возможность обучающимся образовательных организаций, реализующих программы среднего профессионального образования, получить профессиональное образование, соответствующее требованиям экономики и&nbsp;запросам рынка труда
      +bottom( 'Доля выпускников образовательных организаций, реализующих программы среднего профессионального образования, занятых по&nbsp;виду деятельности и&nbsp;полученным компетенциям,&nbsp;&mdash;', '', '62,7%', '', 'full mr0 ml0')
      +bottom( 'Доля обучающихся образовательных организаций, реализующих программы среднего профессионального образования, которые продемонстрировали по&nbsp;итогам демонстрационного экзамена уровень, соответствующий национальным или международным&nbsp;стандартам,&nbsp;&mdash;', '', '15%', '', 'full mr0 ml0')
      +bottom( 'Доля образовательных организаций, реализующих программы среднего профессионального образования, мастерские которых оснащены современной материально-технической базой по&nbsp;одной или нескольким компетенциям,&nbsp;&mdash;', '', '19%', '', 'full mr0 ml0')
      +bottom( 'Численность граждан, охваченных деятельностью центров опережающей профессиональной подготовки,&nbsp;&mdash;', '', '1 292 295 человек', '', 'full mr0 ml0')
