include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__teachers_opportunities-for-development')
   .info_about__text.info_about__text-plan
      h1.mb3 Обеспечена возможность профессионального развития и&nbsp;обучения на&nbsp;протяжении всей профессиональной деятельности для педагогических работников
      +bottom( 'Доля педагогических работников организаций общего, дополнительного и&nbsp;среднего профессионального образования, прошедших повышение квалификации в&nbsp;центрах непрерывного повышения профессионального мастерства,&nbsp;&mdash;', '', '60%', '', 'full mr0 ml0')
