include ../../pages/__info_block/bottom

article.info_about__article.info_about__article-plan
   .info_about__icon.info_about__icon-plan( class='about__volunteerism_development-support')
   .info_about__text.info_about__text-plan
      h1.mb3 Созданы условия для развития и&nbsp;поддержки добровольчества (волонтерства)
      +bottom( 'Общая численность граждан Российской Федерации, вовлеченных центрами (сообществами, объединениями) поддержки добровольчества (волонтерства) на&nbsp;базе образовательных организаций, некоммерческих организаций, государственных и&nbsp;муниципальных учреждений в&nbsp;добровольческую (волонтерскую) деятельность,&nbsp;&mdash;', '', '13,1&nbsp;млн человек', '', 'full mr0 ml0')
