.button_white {
   .flex-center();
   background-color: @color-background-white;
   color: @color-text-blue;
   padding: 10px 15px;
   
   .body-regular-3();
   cursor: pointer;
   
   .tr();
}
.button_white:hover {
   background-color: @color-button-blue-hover;
   box-shadow: @box-shadow-blue;
   color: @color-text-white;
   
   .tr();
}

