.button_white {
   .flex-center();
   background-color: @color-background-white;
   color: @color-text-blue;
   padding: 10px 15px;
   
   border-radius: 2px;
   
   .body-regular-3();
   cursor: pointer;
   
   .tr();
}
.button_white:hover {
   background-color: @color-button-blue-hover;
   box-shadow: @box-shadow-blue;
   color: @color-text-white;
   
   .tr();
}

.button_orange {
   .flex-center();
   align-self: center;
   background-color: @color-button-red;
   color: @color-text-white;
   padding: 22px 54px;
   border-radius: 2px;
   
   .body-bold-6();
   cursor: pointer;
   
   .tr();
}
.button_orange:hover {
   background-color: @color-button-red-hover;
   .tr();
}

