:root {
   --width-image-p: 15vw;
   --height-image-p: 10vw;
   
   --width-title-p: 45vw;
   --height-title-p: calc(45vw / 5.9);
}

.header__main_logo {
   position: relative;
   z-index: 50;
   .logo-image();
   
   width: var(--width-image-p, 244px);
   height: var(--height-image-p, 200px);
   max-width: 308px;
   /*min-width: 115px;
   min-height: 80px;
   */
   margin-right: 2rem;
   flex-shrink: 0;
   
   .middle-block({
      margin-right: 1.5rem;
   });
   .md-block({
      width: 12vw;
      height: 11vw;
   });
   //.sm-block({
   //   margin-right: 1.2rem;
   //});
   .xs-block({
      margin-right: 1rem;
   });
}

.header__logo_title {
   width: var(--width-title, 476px);
   height: var(--height-title, 115px);
   
   max-width: 476px;
   min-width: 214px;
   max-height: 115px;
   min-height: 35px;
   
   .logo-title();
   
   flex-shrink: 0;
   
   
   .md-block({
      .logo-title-xs();
      width: calc(280px + 8vw);
      height: 9vw;
   });
   .xs-block({
      margin-top: 2.5rem;
      margin-left: -20%;
       width: 110%;
       height: 55px;
   });
   .xxs-block({
      margin-right: 3rem;
   });
}
.header__logo_top {
   .logo-title-top();
   width: calc(90px + 16vw);
   height: 27px;
   margin-bottom: 1rem;
   display: none;
   
   .md-block({
      display: block;
   });
}

