
// О проекте
.page_footer__container {
   position: relative;
   z-index: 400;
   padding: 15rem 0 10rem;
   .about_project();
   
   .ll-block({
      padding: 7rem 0 6rem;
   });
   .sm-block({
      padding: 5rem 0 3rem;
   });
}
.page_footer__container p {
   position: relative;
   z-index: 500;
}
.page_footer__text {
   .opensans-regular();
   color: @color-text-white;
   
   font-size: 1.6rem;
   line-height: 2rem;

   .ll-block({
      padding: 12rem 0 8rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
}
