.pseudo() {
   content: '';
   display: block;
   position: absolute;
}

header.header__container:after,
section.deadline__container:after {
   .pseudo();
   z-index: 15;
   
   width: 45%;
   height: 100%;
   
   top: 0;
   left: 0;
   
   background: @color-background-blue-dark;
   .large-block({
      width: calc(40% - 10vw);
   })
}

header.header__container:before {
   .pseudo();
   z-index: 10;
   
   width: 100%;
   height: 250%;
   
   top: 0;
   right: 0;
   
   .header-pseudo-blue();
}

.header__main_logo:before {
   .pseudo();
   top: 8vw;
   right: 1vw;
   
   width: 23vw;
   max-width: 445px;
   height: 21vw;
   max-height: 380px;
   
   .logo-pseudo();
   
   .xs-block({
      display: none;
   })
}

#container .header__main_logo:before {
   .logo-pseudo-md();
   top: calc(3rem + 3vw);
   right: calc(-12rem + 3vw);
   
   width: 21vw;
   max-width: 300px;
   min-width: 200px;
   height: 22vw;
   max-height: 200px;
   
   .middle-block({
      top: calc(2rem + 3vw);
      right: calc(-7rem + 3vw);
   });
   .sm-block({
      top: 14vw;
      right: -5rem;
      width: 37vw;
      min-width: 190px;
   });
   .xs-block({
      display: none;
   })
}

.aside__block_white .header__aside_icon:after {
   .pseudo();
   top: 0;
   right: 0;
   
   
   width: 21.5rem;
   height: 4rem;
   
   .aside-icon-tail();
   
   .middle-block({
      display: none;
   })
}

header.header__container .wrapper:after {
   .pseudo();
   .wrapper-main-blue();
   top: 25%;
   right: calc(3% - 2vw);
   
   width: 9vw;
   height: 10vw;
   
   
   .to(1448px, {
      right: 2%;
      top: 38%;
   });
   .xxl-block({
      right: 3%;
   });
   .to(1200px, {
      right: 1%;
   });
   
   .middle-block({
      top: 70%;
   })
}

header.header__container .wrapper:before {
   .pseudo();
   .wrapper-main-white();
   bottom: -2vw;
   right: 11%;
   
   width: 5vw;
   height: 5vw;
}


footer.footer__container:after {
   .pseudo();
   top: 0;
   right: 0;
   bottom: 0;
   
   width: 30vw;
   
   .footer-bg-orange();
   background-position: left;
   .cover();
   
   .middle-block({
      width: 20vw;
   });
   .xs-block({
      display: none;
   })
}

#container header.header__container:before {
   height: @height-header-pseudo;
   //max-height: 45vw;
   max-height: 1100px;
   .md-block({
      height: calc(250% - 2vw);
   });
   .sm-block({
      height: calc(240% - 2vw);
   });
}

.container__cos header.header__container:before {
   height: calc(325% - 2vw);
   .md-block({
      height: calc(325% - 2vw);
   });
   .sm-block({
      height: calc(280% - 2vw);
   });
}

#container header.header__container .wrapper:before {
   content: none;
}

#container .header__aside_text:after {
   .pseudo();
   .header-aside-image();
   .tr();
   
   top: 35%;
   left: -40%;
   transform: rotate(-60deg) translateY(-80%);
   width: 10rem;
   height: 8rem;
   .middle-block({
      top: 63%;
      left: -29%;
      width: 8rem;
      height: 6rem;
   })
}

#container.container__school .header__container:before {
   .header-pseudo-school();
}

#container.container__success .header__container:before {
   .header-pseudo-success();
}

#container.container__professional .header__container:before {
   .header-pseudo-professional();
}

#container.container__cos .header__container:before {
   .header-pseudo-cos();
}

#container.container__social_activity .header__container:before {
   .header-pseudo-social_activity();
}

#container.container__social_lift .header__container:before {
   .header-pseudo-social_lift();
}

#container.container__patriot .header__container:before {
   .header-pseudo-patriot();
}

#container.container__youth .header__container:before {
   .header-pseudo-youth();
}

#container .headline_blue:after {
   .pseudo();
   .headline-blue();
   
   bottom: -2rem;
   right: -2rem;
   
   width: 38rem;
   height: 38rem;
}

#container .headline_blue-dark:after {
   .pseudo();
   .headline-blue-dark();
   
   top: -2%;
   right: 0;
   
   width: 44rem;
   height: 105%;
   
   .md-block({
      top: -14%;
   })
}

#container header.header__container .wrapper:after {
   .pseudo();
   .wrapper-main-blue();
   top: 25%;
   right: -1%;
   
   width: 9vw;
   height: 10vw;
   
   .to(1448px, {
      right: 2%;
   });
   .middle-block({
      top: 52%;
   })
}

section.deadline__container:before {
   .pseudo();
   z-index: 10;
   
   width: 100%;
   height: 500%;
   min-height: 800px;
   
   top: 0;
   right: 0;
   .deadline-pseudo-blue();
}

.person__content {
   &:first-child:after {
      .pseudo();
      z-index: 300;
      .polygon-3-person-white();
      width: 26%;
    height: 90%;
    top: 2%;
    right: -6%;
      
      .ll-block({
         width: 35%;
         height: 50%;
         
         top: 1%;
         right: -8%;
         
         
         .polygon-3-main-white();
         transform: rotate(25deg) translateX(8px);
      });
      .md-block({
         display: none;
      })
   }
   
   &:first-child:before {
      .pseudo();
      z-index: 300;
      
      width: 10%;
      height: 10%;
      
      bottom: 5%;
      left: 3%;
      
      .polygon-1-white();
      .md-block({
         display: none;
      })
   }
   
   &:nth-of-type(2):before {
      .pseudo();
      z-index: 300;
      
      width: 15%;
      height: 15%;
      transform: rotate(40deg);
      
      top: 5%;
      right: 2%;
      
      .polygon-1-white();
      .lg-block({
         transform: rotate(83deg) translateX(-2px) translateY(-7px);
      });
      .md-block({
         display: none;
      })
   }
}

#container:after {
   .pseudo();
   z-index: 10;
   
   width: 109rem;
   height: 112rem;
   
   bottom: -47rem;
   left: 50vw;
   .polygon-purple();
}

#container:before {
   .pseudo();
   z-index: 15;
   
   width: 12rem;
   height: 12rem;
   
   bottom: 22rem;
   right: 3vw;
   .polygon-1-white();
   transform: rotate(70deg);
   
   display: none;
}

.mobile__menu:after {
   .pseudo();
   .mobile-polygon-pseudo();
   z-index: 15;
   
   width: 80%;
   height: 25rem;
   
   top: 30px;
   right: 1rem;
}

.sources__title:after {
   .pseudo();
   
   top: 0;
   right: 2rem;
   width: 2px;
   height: 100%;
   
   background-color: #444444;
   
   .lg(display, none)
}
