.pseudo() {
    content: '';
   display: block;
   position: absolute;
}
header.header__container:after,
section.deadline__container:after {
  .pseudo();
   z-index: 15;
   
   width: 45%;
   height: 100%;
   
   top: 0;
   left: 0;
   
   background: @color-background-blue-dark;
   .large-block({
      width: calc(40% - 10vw);
   })
}
header.header__container:before {
   .pseudo();
   z-index: 10;
   
   width: 100%;
   height: 250%;
   
   top: 0;
   right: 0;
   
   .header-pseudo-blue();
}

.header__main_logo:before {
   .pseudo();
   top: 8vw;
   right: 1vw;
   
    width: 23vw;
    max-width: 445px;
    height: 21vw;
    max-height: 380px;
   
   .logo-pseudo();
}
#container .header__main_logo:before {
   .logo-pseudo-md();
    top: 7vw;
    right: -9vw;
   
   width: 21vw;
    max-width: 340px;
    height: 22vw;
    max-height: 220px;
}

.aside__block_white .header__aside_icon:after {
   .pseudo();
   top: 0;
   right: 0;
   
   
   width: 21.5rem;
   height: 4rem;
   
   .aside-icon-tail();
}
header.header__container .wrapper:after {
   .pseudo();
   .wrapper-main-blue();
   top: 25%;
   right: 4%;
   
   width: 9vw;
   height: 10vw;
   
   .to( 1448px, {
      right: 2%;
   });
   .xxl-block({
      right: 3%;
   });
   .to( 1200px, {
      right: 1%;
   });
}
header.header__container .wrapper:before {
   .pseudo();
   .wrapper-main-white();
   bottom: -2vw;
   right: 11%;
   
   width: 5vw;
   height: 5vw;
}


footer.footer__container:after {
   .pseudo();
   top: 0;
   right: 0;
   bottom: 0;
   
   width: 30vw;
   
   .footer-bg-orange();
   background-position: left;
   .cover();
   
   .middle-block({
      width: 20vw;
   })
}


#container {
   header.header__container:before {
      height: @height-header-pseudo;
      //max-height: 45vw;
      max-height: 1100px;
      //.xxl-block({
      //   height: 245%;
      //});
   }
   header.header__container .wrapper:before {
      content: none;
   }
   .header__aside_text:after {
      .pseudo();
      .header-aside-image();
      
      top: -1rem;
      left: -9rem;
      
      width: 68px;
      height: 89px;
      
      transform: rotate(47deg);
   }
   
   header.header__container:before {
      height: 285%;
   }
   &.container__school .header__container:before {
      .header-pseudo-school();
   }
   
   .headline_blue:after {
      .pseudo();
      .headline-blue();
      
      bottom: -2rem;
      right: -2rem;
      
      width: 30rem;
      height: 30rem;
   }
   .headline_blue-dark:after {
      .pseudo();
      .headline-blue-dark();
      
      top: -2%;
      right: 0;
      
      width: 44rem;
      height: 105%;
   }
   header.header__container .wrapper:after {
   .pseudo();
   .wrapper-main-blue();
   top: 25%;
   right: 2%;
   
   width: 9vw;
   height: 10vw;
   
   .to( 1448px, {
      right: 2%;
   });
   .xxl-block({
      right: 3%;
   });
   .to( 1200px, {
      right: 5%;
   });
}
}
section.deadline__container:before {
   .pseudo();
   z-index: 10;
   
   width: 100%;
   height: 500%;
   min-height: 800px;
   
   top: 0;
   right: 0;
   .deadline-pseudo-blue();
}

.person__content {
   &:first-child:after {
      .pseudo();
      z-index: 300;
      
      width: 40%;
      height: 100%;
      
      top: 3%;
      right: -8%;
      
      .polygon-3-main-white();
   }
   &:first-child:before {
      .pseudo();
      z-index: 300;
      
      width: 10%;
      height: 10%;
      
      bottom: 5%;
      left: 3%;
      
      .polygon-1-white();
   }
   &:nth-of-type(2):before {
      .pseudo();
      z-index: 300;
      
      width: 15%;
      height: 15%;
      transform: rotate(40deg);
      
      top: 7%;
      right: 3%;
      
      .polygon-1-white();
   }
}
#container:after {
   .pseudo();
   z-index: 10;
   
   width: 109rem;
   height: 112rem;
   
   bottom: -47rem;
   left: 50vw;
   .polygon-purple();
}
#container:before {
   .pseudo();
   z-index: 15;
   
   width: 12rem;
   height: 12rem;
   
   bottom: 18rem;
   right: 29vw;
   .polygon-1-white();
   transform: rotate(70deg);
}
