section( aria-label='Объекты инфраструктуры на карте России').map_index__container
   .wrapper
      h1 Объекты инфрастуктуры проекта "Образования"
      form.map_index__form
         select().map_index__select.block_12
         select().map_index__select.block_7
         a( href='').button_white.map_index__button.block_5
            i.icon-load.mr2
            span Скачать реестр

