section.map__container
   .wrapper
      img( src='./assets/data/bg/map.png' ).map
      .map__content
         .map__text Объекты инфраструктуры
            br
            | нацпроекта "Образование"
         a.map__button.button_white
            .map__button_icon
            .map__button_text Скачать

