section( aria-label='Объекты инфраструктуры на карте России').map_index__container
   .wrapper
      h1 Объекты инфрастуктуры проекта "Образования"
      form.map_index__form
         .block_10.block_region
            select#regions( data-placeholder='Выберите регион').map_index__select
               option
         .block_14.block_object
            select#objects( data-placeholder='Выберите объект инфраструктуры').map_index__select
               option
         .block_1
            a.select__clear.disable
               .icon_close
      .map_index__map
         svg#map_index__svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 808.9 458.9' width='100%' style='transition: all 0.5s ease 0s;' xml:space='preserve')
         .district
            .name
               i.icon-point
               span
            .fd
               span
               | &nbsp;Федеральный округ

         #map_index__information
            .icon_close
            .region__chosen
               .icon-pointer
               .region__name

            .scrollbar-inner
               .region__information
            h1.map_index__total
               .region__object
               .region__object-num
            .button_blue.region__button
               .icon-load-white
               span Скачать реестр
            .region__more Посмотреть информацию
               .icon_arrow-black

