section( aria-label='Объекты инфраструктуры на карте России').map_index__container
   .wrapper
      h1 Объекты инфрастуктуры проекта "Образования"
      form.map_index__form
         .block_12.block_region
            select#regions( data-placeholder='Выберите регион').map_index__select
               option
         .block_12.block_object
            select#objects( data-placeholder='Выберите объект инфраструктуры').map_index__select
               option
         .block_1
            a.select__clear.disable
               .icon_close
         //.block_5
         //   a( href='').button_white.map_index__button.disable
         //      i.icon-load.mr2
         //      span Скачать реестр
      .map_index__map
         .map_index__region
         .map_index__information
            .icon_close
            .region__chosen
               .icon-pointer
               .region__name
            .region__information
            .button_blue.region__button
               .icon-load-white
               span Скачать реестр
            .map_index__amount
               span


