section( aria-label='Объекты инфраструктуры на карте России').map_index__container
   .wrapper
      h1 Объекты инфрастуктуры проекта "Образования"
      form.map_index__form
         .block_10.block_region
            select#regions( data-placeholder='Выберите регион').map_index__select
               option
         .block_14.block_object
            select#objects( data-placeholder='Выберите объект инфраструктуры').map_index__select
               option
         .block_1
            a.select__clear.disable
               .icon_close
      .map_index__map
         .map_index__region
         .map_index__information
            .icon_close
            .region__chosen
               .icon-pointer
               .region__name
            .scrollbar-inner
               .region__information
            .button_blue.region__button
               .icon-load-white
               span Скачать реестр
            .map_index__amount
               span


