section.tile_federal__container {
   position: relative;
   z-index: 110;
   margin-top: 5rem;
   
   .middle-block({
      margin-bottom: 6rem;
   })
}
section.tile_federal__container .wrapper {}
.tile_federal__row {
   .row-flex();
   
}
.tile_federal__caption {
   padding-top: 0;
   margin-bottom: 4.5rem;
   
   
   .middle-block({
      padding-top: 3.5rem;
      border-top: 3px solid #014BE4;
      border-radius: 2px;
   })
}


.tile_federal__cell {
   display: block;
   position: relative;
   cursor: pointer;
   
   padding-top: 60px;
   
   .col();
   .size(6);
   .size-ll(8);
   .size-xxl(8);
   
    margin-top: @offset_one_side;
    margin-bottom: @offset_one_side;
    .xxl-block({
        margin-top: @offset_lg_one_side;
        margin-bottom: @offset_lg_one_side;
    });
   .to( 805px, {
       max-width: 94%;
       height: 35rem;
   });
    .md-block({
        margin: @offset_xs_one_side 3%;
    });
}
.tile_federal__title {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   
   height: 80px;
   background-color: #f8fafc;
   //background-color: @color-background-blue-card;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   
   .flex-center();
   box-sizing: border-box;
   padding: 0 2rem;
   
   
   span {
      text-align: center;
   
      color: @color-text-black;
      //color: @color-text-white;
      .body-bold-5();
   }
}
img.tile_federal__image {
   min-height: 100%;
   min-width: 100%;
    object-fit: cover;
   border-radius: 3px;
   
   .md-block({
      max-height: 100%;
   })
}

.tile_federal__about {
   position: absolute;
   z-index: 150;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
   border-radius: 3px;
   
   .column();
   background-color: @color-background-white;
   
   box-sizing: border-box;
   padding: 2rem;
   .ll-block({
      padding: 3rem;
   });
   .middle-block({
      display: none;
   });
   .sm-block({
      padding: 2.5rem;
   });
   
   box-shadow: @box-shadow;
   
   opacity: 0;
   display: none;
   .tr();
   
}
.tile_federal__text {
   color: @color-text-black;
   .body-regular-6();
   
   b {
      .body-semibold-6();
   }
}
a.tile_federal__button {
   margin-top: auto;
}


.tile_federal__row .slick-slide.slick-current.slick-active {
   max-height: 35rem;
}
