.map__container {
   position: relative;
   z-index: 50;
   width: 100%;
   height: 33rem;
   .column-center();
   
   //margin-top: 4rem;
   .map-bg();
   
   overflow: hidden;
}
section.map__container .wrapper {
}
.map {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   
   min-height: 135%;
   .map();
   position: absolute;
   z-index: 60;
   top: -35%;
   left: 51%;
   transform: translateX(-50%);
   
   opacity: .6;
}
.map__content {
   position: relative;
   z-index: 100;
   
   margin-top: 1rem;
   .column-center();
}
.map__text {
   width: 70%;
   min-width: 500px;
   
   .oswald-light();
   font-size: 2.5rem;
   line-height: 3.2rem;
   //letter-spacing: 1.1px;
   .sm-block({
      min-width: 300px;
      font-size: 2rem;
      line-height: 2.8rem;
   });
   color: @color-text-white;
   text-align: center;
}
.map__button {
   width: 10rem;
   height: 2.5rem;
   margin-top: 1.5rem;
   
   .tr();
}
.map__button_icon {
   .icon_load();
   margin-right: .8rem;
}
.map__button_text {
   .body-regular-3();
   color: @color-text-blue;
}


.map_index__container {
   width: 100%;
   min-height: 500px;
   margin-top: 3rem;
   padding-top: 3.5rem;
   padding-bottom: 3rem;
   background: @gradient-blue-map;
}
.map_index__container h1 {
   .oswald-regular();
    font-size: 3rem;
    line-height: 3.8rem;
   text-align: center;
   color: @color-text-white;
   text-transform: uppercase;
   
   margin-bottom: 2rem;
}
.map_index__form {
   .row-flex();
}
.map_index__select,
.map_index__button {
   .col();
   //margin-bottom: 1.5rem;
}
