.map__container {
   position: relative;
   z-index: 50;
   width: 100%;
   height: 33rem;
   .column-center();
   
   //margin-top: 4rem;
   .map-bg();
   
   overflow: hidden;
}

section.map__container .wrapper {
}

.map {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   
   min-height: 105%;
   .map();
   position: absolute;
   z-index: 60;
   top: -3%;
   left: 51%;
   transform: translateX(-50%);
   
   opacity: .6;
}

.map__content {
   position: relative;
   z-index: 100;
   
   margin-top: 1rem;
   .column-center();
}

.map__text {
   width: 70%;
   min-width: 500px;
   
   .oswald-light();
   font-size: 2.5rem;
   line-height: 3.2rem;
   //letter-spacing: 1.1px;
   .sm-block({
      min-width: unset;
      font-size: 2rem;
      line-height: 2.2rem;
   });
   color: @color-text-white;
   text-align: center;
}

.map__button {
   width: 10rem;
   height: 2.5rem;
   margin-top: 1.5rem;
   
   .tr();
}

.map__button_icon {
   .icon_load();
   margin-right: .8rem;
}

.map__button_text {
   .body-regular-3();
   color: @color-text-blue;
}

// Карта на главной

.map_index__container {
   position: relative;
   z-index: 999;
   width: 100%;
   min-height: 500px;
   margin-top: 3rem;
   padding-top: 3.5rem;
   padding-bottom: 3rem;
   background: @gradient-blue-map;
}

.map_index__container h1 {
   .oswald-regular();
   font-size: 3rem;
   line-height: 3.8rem;
   text-align: center;
   color: @color-text-white;
   text-transform: uppercase;
   
   margin-bottom: 2rem;
}

.map_index__form {
   .row-flex();
}

.select__clear {
   .flex-center();
   width: 45px;
   height: 45px;
   background-color: @opacity-white-item-80;
   border-radius: 2px;
   .tr();
}

.select__clear:hover {
   background-color: @color-background-white;
   .tr();
}

.select__clear.icon_close {
   .icon-15();
}

.select__clear.disable {
   opacity: .6;
   background-color: @opacity-white-item-60;
   cursor: default;
}
.region__button.disable {
   opacity: .7;
   background-color: @color-button-blue;
   color: @opacity-white-item-80;
   cursor: default;
}
.region__button.disable:hover {
   opacity: .7;
   background-color: @color-button-blue;
   color: @opacity-white-item-80;
   cursor: default;
}

.map_index__map {
   width: 100%;
   margin-right: 4%;
   height: 58rem;
   margin-top: 1.2rem;
  
   .xxl-block({
      height: 53vw;
      //margin-top: calc( 6rem - 2vw );
   });
   .xs-block({
      margin-right: 2%;
      margin-left: .5%;
   });
   
   position: relative;
   z-index: 999;
   .tr();
   
   .sm-block({
      height: 52vw;
      //margin-top: 170px;
   })
}
.map_index__map.open {
   margin-top: 15rem;
   .xxl-block({
      margin-top: 18rem;
   });
   .xl-block({
      margin-top: 16rem;
   });
   .md-block({
      margin-top: 17rem;
   });
    .sm-block({
      margin-top: 150px;
   });
   .tr();
}
.district_hover {
   .sm-block({
      margin-top: 170px;
   });
   .tr();
}

.map_index__region {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   
   opacity: 0;
   z-index: 9999;
   .tr();
   
   
   //transform: rotate(7deg) translateX(-32px) translateY(-38px)
}

#map_index__information {
   position: absolute;
   display: none;
   width: 600px;
   top: -6.5rem;
   left: 50%;
   transform: translateX(-50%);
   
   background-color: @opacity-white-item-80;
   padding: 1rem 1.2rem 2.3rem;
   box-sizing: border-box;
   border-radius: 2px;
   
   z-index: 99999;
   .tr();
   
   .xxl-block({
      top: -12rem;
   });
   .xl-block({
      top: -8rem;
   });
   .middle-block({
      width: 450px;
      top: 2vw
   });
   .lg-block({
      width: 550px;
      top: -13rem
   });
   .md-block({
      width: 90%;
      top: -15rem
   });
   .sm-block({
      width: 100%;
      top: -115px;
      bottom: unset;
      margin-right: 6px;
   })
   
}

#map_index__information .icon_close {
   cursor: pointer;
   width: 1.6rem;
   height: 1.6rem;
   .tr();
   
   margin-bottom: .3rem;
   margin-left: auto;
}

.region__chosen,
.region__information {
   .flex();
   .items-center();
   margin-right: 2.5rem;
}
.region__chosen {
   .items-start();
   margin-bottom: 1rem;
}
.region__information {
   width: 100%;
    max-height: 13rem;
   .xxl-block({
       max-height: 10rem;
   });
   .xl-block({
       max-height: 8rem;
   });
   .middle-block({
       max-height: 12rem;
   });
   .md-block({
       max-height: 15rem;
   });
}

.region__chosen .icon-pointer {
   margin-right: .6rem;
   margin-top: 0.3rem;
}

.region__name {
   .opensans-semibold();
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: @color-text-blue;
}

.region__information {
   .row-flex();
   margin-top: 1rem;
}
.map_index__total {
   .row-flex();
   margin-top: 2rem;
}

.region__object {
   .opensans-regular();
   font-size: 1.1rem;
   line-height: 1.3rem;
   color: @color-text-gray;
   margin-right: .8rem;
   margin-bottom: 0.7rem;
   
   .col();
   .size(19);
   .size-xxl(19);
   .size-xl(18);
   .size-md(18);
   
   .md-block({
      font-size: 1.3rem;
      line-height: 1.5rem;
   })
}
h1.map_index__total .region__object {
   .opensans-regular();
   color: @color-text-gray;
   text-transform: none;
   text-align: left;
   font-size: 1.4rem;
   line-height: 1.8rem;
   padding-left: 5px;
   //margin-top: 1.7rem;
   
}
h1.map_index__total .region__object-num {
   font-size: 2rem;
   line-height: 2rem;
   padding-right: 11px;
   //margin-top: .5rem;
}

.region__object-num {
   .opensans-semibold();
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: @color-text-blue;
   
   //flex-basis: 100%;
   text-align: right;
   margin-bottom: 0.7rem;
   margin-left: auto;
   
   .col();
   .size(5);
   .size-xxl(5);
   .size-xl(6);
   .size-md(6);
}

.region__object__empty {
   .opensans-regular();
   font-size: 1.2rem;
   line-height: 1.4rem;
   color: @color-text-gray;
   margin-right: .8rem;
   margin-bottom: 0.7rem;
   
   .col();
   .size(24);
   .size-xxl(24);
   .size-md(24);
}

.region__button {
   margin-top: 2rem;
   //margin-right: 2.5rem;
}

.region__button .icon-load-white {
   .icon-load-white();
   .icon-15();
   margin-right: .9rem;
}

.region__button span {
   .opensans-regular();
   font-size: 1.1rem;
   line-height: 1rem;
}

.region_chosen {
   fill: #b84442;
   stroke-width: .6;
   stroke: #d5ccc9;
}




.district {
   position: absolute;
   top: 0;
   width: 100%;
   .opensans-semibold();
   font-size: 1.4rem;
   text-align: left;
   color: #f2f2f2;
   
   .tr();
   
   .sm-block({
     top: -10px;
   });
   
   div {
      .flex();
      .items-center();
   }
   .fd {
      margin-top: 0.5rem;
      margin-left: 23px;
   }
}
.map_index__map.open .district {
   top: -14rem;
   .xxl-block({
      top: -16.6rem;
   });
   .lg-block({
      top: calc( -5vw - 1rem)
   });
    .sm-block({
      top: -165px;
   });
}

path:hover {
   //fill: #5593df;
   fill: #5b9def;
   stroke-width: .5;
   .tr();
}

path.region_chosen:hover {
   fill: #b84442;
   stroke: #d5ccc9;
   stroke-width: .8;
   .tr();
}





// Selector
.select2-container {
   border: none;
}

.select2-container--default .select2-selection--single {
   height: 45px;
   box-sizing: border-box;
   padding: .5rem .8rem .5rem .6rem;
   border: 1px solid rgba(68, 68, 68, 0.7);
   border-radius: 3px;
   
   .tr();
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
   font-size: 1.2rem;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
   color: @color-text-gray;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
   height: auto;
   top: 37%;
   right: 11px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
.icon_arrow-black.open {
   border: none;
   .tr();
   transform: rotate(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.icon_arrow-black {
   border: none;
   .icon-arr-bottom();
   padding: 1px;
   .tr();
}

.select2-container--default .select2-search--dropdown .select2-search__field {
   border-radius: 2px;
   border: 1px solid rgba(68, 68, 68, 0.4);
}

.select2-results li:before {
   content: none;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
   opacity: .6;
   background-color: @opacity-white-item-60;
   .tr();
}


/* Мобильное */
.region__more  {
   display: none;
   cursor: pointer;
   
    font-size: 1.2rem;
   
   text-align: center;
    margin-top: 2rem;
   
   .from( @break_middle, {
      display: none !important;
   })
}
.icon_arrow-black {
   margin-right: auto;
   margin-left: auto;
   margin-top: .8rem;
}
@media screen and (max-width: @break_middle) {
   //#map_index__information.open .total__empty {
   //   height: auto;
   //   opacity: 1;
   //   margin-bottom: 2rem;
   //   margin-top: 2rem;
   //}
   #map_index__information {
      padding: 1rem 1.2rem 1.8rem;
   }
   .region__more  {
      display: block;
   }
   .scroll-wrapper.scrollbar-inner {
      height: 0;
   }
   .button_blue.region__button {
      display: none;
   }
}

