.region( @name ) {
   background-image: url("../data/bg/region/@{name}.svg");
   background-position: top;
   .contain();
   .tr();
}


.all_regions .map_index__region {
   opacity: 0;
}

.all_regions .map_index__information {
   opacity: 1;
   top: 10%;
   right: 50%;
   left: 50%;
   bottom: unset;
   transform: translateX(-50%);
}
.map_index__map.open.all_regions {
   margin-top: 20px !important;
}
.map_index__map.open.all_regions .map_index__information {
   .to( 800px, {
      top: 0 !important;
      right: 50% !important;
      left: 50% !important;
   });
   bottom: unset;
   transform: translateX(-50%);
}
.all_regions .map_index__information .map_index__amount {
   display: none;
}

/* Регионы */
.Adygeya_Republic .map_index__region {
   opacity: 1;
   .region('Adygeya_Republic');
}
.Adygeya_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   bottom: 35%;
   left: -14px;
   .to( 800px, {
      top: 3rem;
   });
}

.Irkutsk_Oblast .map_index__region {
   opacity: 1;
   .region('Irkutsk_Oblast');
}
.Irkutsk_Oblast .map_index__information {
   opacity: 1;
   right: 33%;
   bottom: 34%;
   left: unset;
   transform: none;
}

.Bashkortostan_Republic .map_index__region {
   opacity: 1;
   .region('Bashkortostan_Republic');
}
.Bashkortostan_Republic .map_index__information {
   opacity: 1;
   right: unset;
   left: 18%;
   bottom: 39%;
   transform: none;
   .to( 800px, {
      top: 4rem;
   });
}

.Buryatiya_Republic .map_index__region {
   opacity: 1;
   .region('Buryatiya_Republic');
}
.Buryatiya_Republic .map_index__information {
   opacity: 1;
   right: 25%;
   left: unset;
   bottom: 34%;
   //transform: translateX(30%) translateY(-10%);
   .to( 800px, {
      //top: 4rem;
   });
   .sm-block({
      right: 0;
      bottom: unset;
   })
}

.Altai_Republic .map_index__region {
   opacity: 1;
   .region('Altai_Republic');
}
.Altai_Republic .map_index__information {
   opacity: 1;
   left: unset;
   right: calc( 30% + 11vw );
   bottom: calc( 27% - 2vw );
   transform: none;
}

.Dagestan_Republic .map_index__region {
   opacity: 1;
   .region('Dagestan_Republic');
}
.Dagestan_Republic .map_index__information {
   opacity: 1;
   right: unset;
   left: 3%;
   bottom: calc( 40% - 5vw );
   transform: none;
}
.map_index__map.Dagestan_Republic.left.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
}
.map_index__map.Dagestan_Republic.left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
   });
}

.Ingushetiya_Republic .map_index__region {
   opacity: 1;
   .region('Ingushetiya_Republic');
}
.Ingushetiya_Republic .map_index__information {
   opacity: 1;
   right: unset;
   left: 1.5%;
   bottom: calc( 38% - 3vw );
   transform: none;
}
.map_index__map.Ingushetiya_Republic.left.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
}
.map_index__map.Ingushetiya_Republic.left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
   });
}

.Kabardino-Balkariya_Republic .map_index__region {
   opacity: 1;
   .region('Kabardino-Balkariya_Republic');
}
.Kabardino-Balkariya_Republic .map_index__information {
   opacity: 1;
   right: unset;
   left: 0.5%;
   bottom: calc( 30% + 1vw );
   transform: none;
   .ll-block({
      bottom: calc( 40% + 1vw );
   })
}
.map_index__map.Kabardino-Balkariya_Republic.left.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
}
.map_index__map.Kabardino-Balkariya_Republic.left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
   });
}

.Karachayevo-Cherkesiya_Republic .map_index__region {
   opacity: 1;
   .region('Karachayevo-Cherkesiya_Republic');
}
.Karachayevo-Cherkesiya_Republic .map_index__information {
   opacity: 1;
   right: unset;
   left: calc( 1% - 1vw );
   bottom: calc( 36% - 2vw );
   transform: none;
   .ll-block({
      bottom: calc( 40% + 1vw );
   })
}
.map_index__map.Karachayevo-Cherkesiya_Republic.left.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
}
.map_index__map.Karachayevo-Cherkesiya_Republic.left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
   });
}

.Karelia_Republic .map_index__region {
   opacity: 1;
   .region('Karelia_Republic');
}
.Karelia_Republic .map_index__information {
   opacity: 1;
   top: 48%;
   right: unset;
    left: 10%;
    bottom: unset;
   transform: none;
}
.map_index__map.Karelia_Republic.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Karelia_Republic.top-left.open .map_index__information {
   .to( 800px, {
      top: 15% !important;
   });
   .sm-block({
      top: -250px !important;
   })
}

.Kalmykiya_Republic .map_index__region {
   opacity: 1;
   .region('Kalmykiya_Republic');
}
.Kalmykiya_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 2%;
    bottom: calc( 40% - 3vw );
   transform: none;
}

.Komi_Republic .map_index__region {
   opacity: 1;
   .region('Komi_Republic');
}
.Komi_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc(24% + 8vw);
   bottom: calc(5% + 2vw);
   transform: none;
   .ll-block({
      left: calc(36%);
      bottom: calc( 5% );
   });
   .lg-block({
      bottom: 0;
   })
}
.top-right.map_index__map.open.Komi_Republic .map_index__information {
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.map_index__map.Komi_Republic.top-left.open .map_index__information {
   .to( 800px, {
      top: 30% !important;
   });
   .sm-block({
    top: -250px !important;
    bottom: unset !important;
   })
}

.Mariy-El_Republic .map_index__region {
   opacity: 1;
   .region('Mariy-El_Republic');
}
.Mariy-El_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 12%;
    bottom: calc( 52% - 2vw );
   transform: none;
   .ll-block({
      bottom: 55%;
   })
}

.Mordoviya_Republic .map_index__region {
   opacity: 1;
   .region('Mordoviya_Republic');
}
.Mordoviya_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 1% + 6vw );
    bottom: calc( 54% - 2vw );
   transform: none;
}

.Sakha_Republic .map_index__region {
   opacity: 1;
   .region('Sakha_Republic');
}
.Sakha_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: calc( 1% + 5vw );
    left: unset;
    bottom: 2vw;
   transform: none;
}
.Sakha_Republic .map_index__information .map_index__amount {
   .to( 800px, {
      top: unset;
      left: -15px;
      bottom: -25px;
      transform: rotateY(180deg);
   });
}
.Sakha_Republic .map_index__information .map_index__amount span {
   .to( 800px, {
      text-align: left;
      transform: rotateY(180deg);
   });
}

.North_Ossetia_Republic .map_index__region {
   opacity: 1;
   .region('North_Ossetia_Republic');
}
.North_Ossetia_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 0;
    bottom: calc( 34% - 2vw );
   transform: none;
}
.map_index__map.North_Ossetia_Republic.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.North_Ossetia_Republic.left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}

.Tatarstan_Republic .map_index__region {
   opacity: 1;
   .region('Tatarstan_Republic');
}
.Tatarstan_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 7% + 4vw );
    bottom: calc( 50% - 2vw );
   transform: none;
}

.Udmurtiya_Republic .map_index__region {
   opacity: 1;
   .region('Udmurtiya_Republic');
}
.Udmurtiya_Republic .map_index__information {
   opacity: 1;
  top: unset;
   right: unset;
    left: calc( 3% - 2vw );
    bottom: calc( 56% - 3vw );
   transform: none;
}

.Khakasiya_Republic .map_index__region {
   opacity: 1;
   .region('Khakasiya_Republic');
}
.Khakasiya_Republic .map_index__information {
   opacity: 1;
  top: unset;
   right: unset;
    left: calc( 10% + 12vw );
    bottom: calc( 40% - 4vw );
   transform: none;
}

.Chechnya_Republic .map_index__region {
   opacity: 1;
   .region('Chechnya_Republic');
}
.Chechnya_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 3vw;
    bottom: calc( 44% - 6vw );
   transform: none;
}

.Chuvashia_Republic .map_index__region {
   opacity: 1;
   .region('Chuvashia_Republic');
}
.Chuvashia_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 10% + 2vw );
    bottom: calc( 52% - 2vw );
   transform: none;
}

.Altai_Krai .map_index__region {
   opacity: 1;
   .region('Altai_Krai');
}
.Altai_Krai .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 15% + 3vw );
    bottom: calc( 38% - 4vw );
   transform: none;
}

.Krasnodarskiy_Krai .map_index__region { // У следущего края немного другое название, это не ошибка
   opacity: 1;
   .region('Krasnodarskiy_Krai');
}
.Krasnodarskiy_Krai .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc(  1vw );
    bottom: calc( 45% - 3vw );
   transform: none;
}

.Krasnoyarskiy_Krai .map_index__region { // Это разные края с верхним
   opacity: 1;
   .region('Krasnoyarskiy_Krai');
}
.Krasnoyarskiy_Krai .map_index__information {
   opacity: 1;
   top: unset;
   left: unset;
    right: calc( 34% +  1vw );
    bottom: calc( 55% + 3vw );
   transform: none;
}

.Primorskiy_Maritime_Kray .map_index__region {
   opacity: 1;
   .region('Primorskiy_Maritime_Kray');
}
.Primorskiy_Maritime_Kray .map_index__information {
   opacity: 1;
   top: unset;
   left: unset;
    right: calc( 2% +  1vw );
    bottom: calc( 40% - 1vw );
   transform: none;
}

.Stavropol_Kray .map_index__region {
   opacity: 1;
   .region('Stavropol_Kray');
}
.Stavropol_Kray .map_index__information {
   opacity: 1;
      top: unset;
   right: unset;
    left: calc(  1vw );
    bottom: calc( 45% - 4vw );
   transform: none;
}

.Khabarovsk_Krai .map_index__region {
   opacity: 1;
   .region('Khabarovsk_Krai');
}
.Khabarovsk_Krai .map_index__information {
   opacity: 1;
    top: unset;
   left: unset;
    right: calc( 6% + 2vw );
    bottom: calc( 65% - 4vw );
   transform: none;
}

.Amur_Oblast .map_index__region {
   opacity: 1;
   .region('Amur_Oblast');
}
.Amur_Oblast .map_index__information {
   opacity: 1;
    top: unset;
   left: unset;
    right: calc( 8% + 2vw );
    bottom: calc( 52% - 4vw );
   transform: none;
}

.Arkhangelskaya_Oblast .map_index__region {
   opacity: 1;
   .region('Arkhangelskaya_Oblast');
}
.Arkhangelskaya_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 20% - 3vw );
    bottom: 6%;
   transform: none;
}
.map_index__map.Arkhangelskaya_Oblast.top-left.open .map_index__information {
   .to( 800px, {
      top: 24% !important;
   });
   .sm-block({
    top: -250px !important;
    bottom: unset !important;
   })
}

.Astrakhan_Oblast .map_index__region {
   opacity: 1;
   .region('Astrakhan_Oblast');
}
.Astrakhan_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 3% + 2vw );
    bottom: calc( 44% - 4vw );
   transform: none;
}

.Belgorod_Oblast .map_index__region {
   opacity: 1;
   .region('Belgorod_Oblast');
}
.Belgorod_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 2% + 1vw );
    bottom: calc( 60% - 4vw );
   transform: none;
}

.Bryansk_Oblast .map_index__region {
   opacity: 1;
   .region('Bryansk_Oblast');
}
.Bryansk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 2% + 1vw );
    bottom: calc( 64% - 4vw );
   transform: none;
}

.Vladimir_Oblast .map_index__region {
   opacity: 1;
   .region('Vladimir_Oblast');
}
.Vladimir_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 6% + 1vw );
    bottom: calc( 60% - 4vw );
   transform: none;
}

.Volgograd_Oblast .map_index__region {
   opacity: 1;
   .region('Volgograd_Oblast');
}
.Volgograd_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 2% + 1vw );
    bottom: calc( 58% - 6vw );
   transform: none;
}

.Vologda_Oblast .map_index__region {
   opacity: 1;
   .region('Vologda_Oblast');
}
.Vologda_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 9% + 2vw );
    bottom: calc( 6vw - 5% );
   transform: none;
}
.top-left.map_index__map.open.Vologda_Oblast .map_index__information {
   .to( 1050px, {
      top: unset;
      right: 6px !important;
      bottom: 20%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-left.Vologda_Oblast .map_index__amount {
   .to( 1050px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-left.Vologda_Oblast .map_index__amount span {
   .to( 1050px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Voronezj_Oblast .map_index__region {
   opacity: 1;
   .region('Voronezj_Oblast');
}
.Voronezj_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 6%  );
    bottom: calc( 52% - 2vw );
   transform: none;
}

.Ivanovo_Oblast .map_index__region {
   opacity: 1;
   .region('Ivanovo_Oblast');
}
.Ivanovo_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 7% + 2vw );
    bottom: 1vw;
   transform: none;
}
.top-left.map_index__map.open.Ivanovo_Oblast .map_index__information {
   .to( 1150px, {
      top: unset;
      right: 6px !important;
      bottom: 20%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-left.Ivanovo_Oblast .map_index__amount {
   .to( 1150px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-left.Ivanovo_Oblast .map_index__amount span {
   .to( 1150px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}

.Kaliningrad_Oblast .map_index__region {
   opacity: 1;
   .region('Kaliningrad_Oblast');
}
.Kaliningrad_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 10%;
    bottom: calc( 6% + 5vw );
   transform: none;
}
.top-right.map_index__map.open.Kaliningrad_Oblast .map_index__information {
   .to( 900px, {
      top: unset;
      right: 6px !important;
      bottom: 20%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Kaliningrad_Oblast .map_index__amount {
   .to( 900px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Kaliningrad_Oblast .map_index__amount span {
   .to( 900px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Kaluga_Oblast .map_index__region {
   opacity: 1;
   .region('Kaluga_Oblast');
}
.Kaluga_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 2vw;
    bottom: 55%;
   transform: none;
}

.Kamchatka_Krai .map_index__region {
   opacity: 1;
   .region('Kamchatka_Krai');
}
.Kamchatka_Krai .map_index__information {
   opacity: 1;
   top: unset;
   right: -3vw;
    left: unset;
    bottom: calc( 4% + 5vw );
   transform: none;
   .ll-block({
      right: 0;
   })
}
.top-left.map_index__map.open.Kamchatka_Krai .map_index__information {
   .to( 800px, {
      top: unset !important;
      left: 6px !important;
      bottom: 30% !important;
      right: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
      
      left: 0 !important;
    right: 0 !important;
   })
}
.top-left.Kamchatka_Krai .map_index__amount {
   .to( 800px, {
      width: 120px;
      height: 35px;
      top: unset;
      left: unset;
      bottom: -25px;
      right: -80px;
      .region-adapt();
      transform: rotateY(180deg);
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-left.Kamchatka_Krai .map_index__amount span {
   .to( 800px, {
     transform: rotateY(180deg);
      text-align: left;
   });
   .sm-block({
     text-align: left;
   })
}


.Kemerovo_Oblast .map_index__region {
   opacity: 1;
   .region('Kemerovo_Oblast');
}
.Kemerovo_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 28% - 6vw );
    bottom: calc( 40% - 2vw );
   transform: none;
}

.Kirov_Oblast .map_index__region {
   opacity: 1;
   .region('Kirov_Oblast');
}
.Kirov_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 0;
    bottom: calc( 55% - 1vw );
   transform: none;
   .ll-block({
       bottom: calc( 57% - 2vw );
   })
}

.Kostroma_Oblast .map_index__region {
   opacity: 1;
   .region('Kostroma_Oblast');
}
.Kostroma_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 25%;
    bottom: 0;
   transform: none;
}
.map_index__map.Kostroma_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Kostroma_Oblast.top-right.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}

.top-right.map_index__map.open.Kostroma_Oblast .map_index__information {
   .to( 900px, {
      top: unset;
      right: 6px !important;
      bottom: 20%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Kostroma_Oblast .map_index__amount {
   .to( 900px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Kostroma_Oblast .map_index__amount span {
   .to( 900px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Kurgan_Oblast .map_index__region {
   opacity: 1;
   .region('Kurgan_Oblast');
}
.Kurgan_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 3vw;
    bottom: 41%;
   transform: none;
}

.Kursk_Oblast .map_index__region {
   opacity: 1;
   .region('Kursk_Oblast');
}
.Kursk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 3vw - 2% );
    bottom: 53%;
   transform: none;
}

.Leningradskaya_Oblast .map_index__region {
   opacity: 1;
   .region('Leningradskaya_Oblast');
}
.Leningradskaya_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 25%;
    bottom: 6vw;
   transform: none;
   .xxl-block({
      bottom: 0;
   })
}
.top-right.map_index__map.open.Leningradskaya_Oblast .map_index__information {
   .to( 900px, {
      top: unset;
      right: 6px !important;
      bottom: 20%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 20% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Leningradskaya_Oblast .map_index__amount {
   .to( 900px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Leningradskaya_Oblast .map_index__amount span {
   .to( 900px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}

.Lipetsk_Oblast .map_index__region {
   opacity: 1;
   .region('Lipetsk_Oblast');
}
.Lipetsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 2%;
    bottom: calc( 55% - 2vw );
   transform: none;
}

.Magadan_Oblast .map_index__region {
   opacity: 1;
   .region('Magadan_Oblast');
}
.Magadan_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: -2vw;
    left: unset;
    bottom: calc( 15% - 3vw );
   transform: none;
   .ll-block({
      right: 0;
      bottom: 15%;
   });
   .middle-block({
      bottom: 4%;
   })
}
.top-left.map_index__map.open.Magadan_Oblast .map_index__information {
   .to( 800px, {
      top: unset !important;
      left: 6px !important;
      bottom: 40% !important;
      right: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
      
      left: 0 !important;
    right: 0 !important;
   })
}
.top-left.Magadan_Oblast .map_index__amount {
   .to( 800px, {
      width: 120px;
      height: 35px;
      top: unset;
      left: unset;
      bottom: -25px;
      right: -80px;
      .region-adapt();
      transform: rotateY(180deg);
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-left.Magadan_Oblast .map_index__amount span {
   .to( 800px, {
     transform: rotateY(180deg);
      text-align: left;
   });
   .sm-block({
     text-align: left;
   })
}


.Moscow_Oblast .map_index__region {
   opacity: 1;
   .region('Moscow_Oblast');
}
.Moscow_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 5% );
    bottom: calc(54% + 2vw);
   transform: none;
   .lg-block({
      bottom: calc( 53% + 1vw);
   })
}


.Murmansk_Oblast .map_index__region {
   opacity: 1;
   .region('Murmansk_Oblast');
}
.Murmansk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: 10%;
    bottom: 20%;
   transform: none;
   .xxl-block({
      bottom: 10%;
   })
}
.top-left.map_index__map.open.Murmansk_Oblast {
   .from-to( 800px, 580px, {
      margin-top: 20px !important;
   })
}
.top-left.map_index__map.open.Murmansk_Oblast .map_index__information {
   .to( 800px, {
      top: 20% !important;
   });
   .sm-block({
      top: -250px !important;
   })
}


.Nizhny_Novgorod_Oblast .map_index__region {
   opacity: 1;
   .region('Nizhny_Novgorod_Oblast');
}
.Nizhny_Novgorod_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc(6% + 1vw);
   bottom: calc(53% - 1vw);
   transform: none;
   .ll-block({
      bottom: 54%;
   })
}

.Novgorod_Oblast .map_index__region {
   opacity: 1;
   .region('Novgorod_Oblast');
}
.Novgorod_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
    left: calc( 26% - 2vw );
    bottom: 3vw;
   transform: none;
   .xl-block({
      bottom: 0;
   })
}
.map_index__map.Novgorod_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Novgorod_Oblast.top-left.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.map_index__map.open.Novgorod_Oblast .map_index__information {
   .to( 900px, {
      top: unset;
      right: 6px !important;
      bottom: 15%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 15% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Novgorod_Oblast .map_index__amount {
   .to( 900px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Novgorod_Oblast .map_index__amount span {
   .to( 900px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}

.Novosibirsk_Oblast .map_index__region {
   opacity: 1;
   .region('Novosibirsk_Oblast');
}
.Novosibirsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 4% + 9vw);
   bottom: calc( 38% - 2vw );
   transform: none;
   .ll-block({
      bottom: 40%;
   });
   .xl-block({
      left: calc( 10% - 5vw )
   })
}

.Omsk_Oblast .map_index__region {
   opacity: 1;
   .region('Omsk_Oblast');
}
.Omsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 2% + 9vw);
   bottom: calc( 42% - 2vw );
   transform: none;
   .ll-block({
      bottom: 44%;
   });
   .xl-block({
      left: calc( 10% - 5vw )
   })
}

.Orenburg_Oblast .map_index__region {
   opacity: 1;
   .region('Orenburg_Oblast');
}
.Orenburg_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 2% + 9vw);
   bottom: calc( 42% - 2vw );
   transform: none;
   .ll-block({
      bottom: 46%;
   });
   .xl-block({
      left: calc( 12% - 5vw )
   })
}

.Orel_Oblast .map_index__region {
   opacity: 1;
   .region('Orel_Oblast');
}
.Orel_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 1% + 3vw);
   bottom: calc( 58% - 2vw );
   transform: none;
   .xl-block({
      left: 2vw
   });
   .middle-block({
      bottom: 52%;
   })
}

.Penza_Oblast .map_index__region {
   opacity: 1;
   .region('Penza_Oblast');
}
.Penza_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 3% + 3vw);
   bottom: calc( 50% - 2vw );
   transform: none;
   .ll-block({
      bottom: 52%;
   });
   .xl-block({
      left: 2vw
   });
   .middle-block({
      bottom: 45%;
      left: 3vw;
   })
}

.Perm_Krai .map_index__region {
   opacity: 1;
   .region('Perm_Krai');
}
.Perm_Krai .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 15% + 3vw );
   bottom: 50%;
   transform: none;
   .ll-block({
      bottom: 52%;
   });
   .middle-block({
      left: 15%
   })
}

.Pskov_Oblast .map_index__region {
   opacity: 1;
   .region('Pskov_Oblast');
}
.Pskov_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 15% + 3vw );
   bottom: 14%;
   transform: none;
   .ll-block({
      bottom: calc( 10% + 1vw );
   });
   .middle-block({
      bottom: -1%;
      left: 20%;
   })
}
.map_index__map.Pskov_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Pskov_Oblast.top-right.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.map_index__map.open.Pskov_Oblast .map_index__information {
   .to( 900px, {
      top: unset;
      right: 6px !important;
      bottom: 15%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 15% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Pskov_Oblast .map_index__amount {
   .to( 900px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Pskov_Oblast .map_index__amount span {
   .to( 900px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Rostov_Oblast .map_index__region {
   opacity: 1;
   .region('Rostov_Oblast');
}
.Rostov_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: 0;
   bottom: calc( 44% - 1vw );
   transform: none;
   .ll-block({
      bottom: 44%
   });
}

.Ryazan_Oblast .map_index__region {
   opacity: 1;
   .region('Ryazan_Oblast');
}
.Ryazan_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: 5%;
   bottom: 50%;
   transform: none;
   .ll-block({
      bottom: calc( 52% + 1vw );
   });
}

.Samara_Oblast .map_index__region {
   opacity: 1;
   .region('Samara_Oblast');
}
.Samara_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 2% + 7vw );
   bottom: calc( 40% + 1vw );
   transform: none;
   .ll-block({
      bottom: calc( 45% + 1vw );
   });
}

.Saratovskaya_Oblast .map_index__region {
   opacity: 1;
   .region('Saratovskaya_Oblast');
}
.Saratovskaya_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 2% + 5vw );
   bottom: 48%;
   transform: none;
   .middle-block({
      left: 5vw
   })
}

.Sakhalin_Oblast .map_index__region {
   opacity: 1;
   .region('Sakhalin_Oblast');
}
.Sakhalin_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: 3%;
   left: unset;
   bottom: 50%;
   transform: none;
}

.Sverdlovsk_Oblast .map_index__region {
   opacity: 1;
   .region('Sverdlovsk_Oblast');
}
.Sverdlovsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: 20%;
   bottom: calc( 50% - 1vw );
   transform: none;
   .ll-block({
      bottom: 54%;
   });
}

.Smolensk_Oblast .map_index__region {
   opacity: 1;
   .region('Smolensk_Oblast');
}
.Smolensk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 22% - 2vw );
   bottom: calc( 8% - 2vw );
   transform: none;
   .middle-block({
      bottom: 0
   })
}
.map_index__map.Smolensk_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Smolensk_Oblast.top-right.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.map_index__map.open.Smolensk_Oblast .map_index__information {
   .to( 1050px, {
      top: unset;
      right: 6px !important;
      bottom: 15%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 15% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Smolensk_Oblast .map_index__amount {
   .to( 1050px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Smolensk_Oblast .map_index__amount span {
   .to( 1050px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}



.Tambov_Oblast .map_index__region {
   opacity: 1;
   .region('Tambov_Oblast');
}
.Tambov_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 6% - 1rem );
   bottom: calc( 55% - 4vw );
   transform: none;
   .ll-block({
      bottom:  calc( 55% - 2vw )
   });
}

.Tver_Oblast .map_index__region {
   opacity: 1;
   .region('Tver_Oblast');
}
.Tver_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 19% + 3vw );
   bottom: calc( 2% + 2vw );
   transform: none;
   .middle-block({
      bottom: 0
   })
}
.map_index__map.Tver_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Tver_Oblast.top-right.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.map_index__map.open.Tver_Oblast .map_index__information {
   .to( 950px, {
      top: unset;
      right: 6px !important;
      bottom: 15%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 15% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Tver_Oblast .map_index__amount {
   .to( 950px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Tver_Oblast .map_index__amount span {
   .to( 950px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}



.Tomsk_Oblast .map_index__region {
   opacity: 1;
   .region('Tomsk_Oblast');
}
.Tomsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 28% + 3vw );
   bottom: calc( 40% + 2vw );
   transform: none;
   .ll-block({
      bottom:  calc( 44% + 2vw )
   });
}

.Tula_Oblast .map_index__region {
   opacity: 1;
   .region('Tula_Oblast');
}
.Tula_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 3% + 1vw );
   bottom: calc( 52% );
   transform: none;
   .ll-block({
      bottom: calc( 57% - 1vw )
   });
}

.Tyumen_Oblast .map_index__region {
   opacity: 1;
   .region('Tyumen_Oblast');
}
.Tyumen_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: calc( 14vw - 5% );
   left: unset;
   bottom: 0;
   transform: none;
   .xl-block({
      right: -1%;
   })
}

.top-right.map_index__map.open.Tyumen_Oblast .map_index__information {
   .to( 950px, {
      top: calc( 2vw - 1% );
      right: 6px !important;
      bottom: unset;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: -80px !important;
      right: 6px !important;
      bottom: unset !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Tyumen_Oblast .map_index__amount {
   .to( 950px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: unset;
      bottom: -25px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Tyumen_Oblast .map_index__amount span {
   .to( 950px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Ulyanovsk_Oblast .map_index__region {
   opacity: 1;
   .region('Ulyanovsk_Oblast');
}
.Ulyanovsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 10% + 2vw );
   bottom: calc( 50% - 3vw );
   transform: none;
   .ll-block({
      bottom: 50%
   });
   .xl-block({
      left: 10%;
      bottom: calc( 53% - 3vw );
   })
}

.Chelyabinsk_Oblast .map_index__region {
   opacity: 1;
   .region('Chelyabinsk_Oblast');
}
.Chelyabinsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 17% + 1vw );
   bottom: calc( 48% - 3vw );
   transform: none;
}

.Transbaikal_Krai .map_index__region {
   opacity: 1;
   .region('Transbaikal_Krai');
}
.Transbaikal_Krai .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 38% + 3vw );
   bottom: calc( 38% + 2vw );
   transform: none;
   .xl-block({
      left: calc(30% - 1vw);
   })
}

.Jaroslavl_Oblast .map_index__region {
   opacity: 1;
   .region('Jaroslavl_Oblast');
}
.Jaroslavl_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 17% + 5vw );
   bottom: calc( 10% + 2vw );
   transform: none;
   .xl-block({
      left: calc(30% - 1vw);
   });
   .middle-block({
      bottom: 0;
   })
}
.map_index__map.Jaroslavl_Oblast.open {
   .to( 800px, {
      margin-top: 40px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Jaroslavl_Oblast.top-right.open .map_index__information {
   .to( 800px, {
      top: -40px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.map_index__map.open.Jaroslavl_Oblast .map_index__information {
   .to( 950px, {
      top: unset;
      right: 6px !important;
      bottom: 18%;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 18% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.Jaroslavl_Oblast .map_index__amount {
   .to( 950px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.Jaroslavl_Oblast .map_index__amount span {
   .to( 950px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Moscow_City .map_index__region {
   opacity: 1;
   .region('Moscow_City');
}
.Moscow_City .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 1% + 3vw );
   bottom: calc( 52% + 1vw );
   transform: none;
   .ll-block({
      bottom: 57%
   })
}
.map_index__map.Moscow_City.open {
   .to( 900px, {
      margin-top: 80px !important;
   });
   .sm-block({
      margin-top: 250px !important;
   })
}
.map_index__map.Moscow_City.left.open .map_index__information {
   .to( 900px, {
      top: -80px !important;
      bottom: unset !important;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}

.St-Petersburg_City .map_index__region {
   opacity: 1;
   .region('St-Petersburg');
}
.St-Petersburg_City .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 17% + 1vw );
   bottom: calc( 26% - 3vw );
   transform: none;
   .xxl-block({
      left: 23%;
      bottom: 2%;
   });
   .lg-block({
      bottom: 0;
   })
}
.top-right.map_index__map.open.St-Petersburg_City {
   .to( 800px, {
          margin-top: 25px !important;
   });
   .sm-block({
          margin-top: 250px !important;
   });
}
.top-right.map_index__map.open.St-Petersburg_City .map_index__information {
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 18% !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}
.top-right.St-Petersburg_City .map_index__amount {
   .to( 800px, {
      width: 120px;
      height: 35px;
      right: unset;
      top: -15px;
      left: -80px;
      .region-adapt();
      transform: none;
   });
   .sm-block({
      .region-sm();
      top: unset;
      left: -2%;
      bottom: -25px;
      padding-left: 2%;
   })
}
.top-right.St-Petersburg_City .map_index__amount span {
   .to( 800px, {
     transform: none;
      text-align: right;
   });
   .sm-block({
     text-align: left;
   })
}


.Jewish_AO .map_index__region {
   opacity: 1;
   .region('Jewish_AO');
}
.Jewish_AO .map_index__information {
   opacity: 1;
   top: unset;
   right: 5%;
   left: unset;
   bottom: calc( 40% - 2vw );
   transform: none;
   .ll-block({
      bottom: 44%
   })
}

.Nenets_AO .map_index__region {
   opacity: 1;
   .region('Nenets_AO');
}
.Nenets_AO .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 17% + 2vw );
   bottom: calc( 12% + 2vw );
   transform: none;
   .xl-block({
      bottom: -2%;
   })
}
.top-left.map_index__map.open.Nenets_AO {
   .to( 800px, {
       margin-top: 100px !important;
   });
   .sm-block({
       margin-top: 250px !important;
   });
}

.Khanty-Mansia_AO .map_index__region {
   opacity: 1;
   .region('Khanty-Mansia_AO');
}
.Khanty-Mansia_AO .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 5% + 2vw );
   bottom: calc( 46% + 3vw );
   transform: none;
   .xl-block({
      left: -2%
   })
}

.Chukotka_AO .map_index__region {
   opacity: 1;
   .region('Chukotka_AO');
}
.Chukotka_AO .map_index__information {
   opacity: 1;
   top: unset;
   right: 0;
   left: unset;
   bottom: calc( 44% - 6vw );
   transform: none;
   .xl-block({
      bottom: 20%;
   })
}
.map_index__map.open.Chukotka_AO {
   .to( 800px, {
       margin-top: 10px !important;
   });
   .sm-block({
       margin-top: 250px !important;
   });
}
.top-left.map_index__map.open.Chukotka_AO .map_index__information {
   .to( 800px, {
      top: unset !important;
      right: 6px !important;
      bottom: 0 !important;
      left: unset !important;
      padding-left: 1.2rem;
   });
   .sm-block({
      top: -250px !important;
      bottom: unset !important;
   })
}

.Yamalo-Nenets_AO .map_index__region {
   opacity: 1;
   .region('Yamalo-Nenets_AO');
}
.Yamalo-Nenets_AO .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 24% + 2vw );
   bottom: 0;
   transform: none;
}
.top-left.map_index__map.open.Yamalo-Nenets_AO .map_index__information {
   .to( 800px, {
      top: -130px !important;
      bottom: unset;
   });
   .sm-block({
      top: -250px !important;
   })
}
.map_index__map.open.Yamalo-Nenets_AO {
   .to( 800px, {
       margin-top: 150px !important;
   });
   .sm-block({
       margin-top: 250px !important;
   });
}

.Crimea_Republic .map_index__region {
   opacity: 1;
   .region('Crimea_Republic');
}
.Crimea_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: -3vw;
   bottom: calc( 17% + 10vw );
   transform: none;
   .to( 1600px, {
      left: -1vw;
      bottom: calc( 45% + 3vw );
   });
   .ll-block({
      left: 0;
   })
}

.Sevastopol_City .map_index__region {
   opacity: 1;
   .region('Sevastopol_City');
}
.Sevastopol_City .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: -3vw;
   bottom: calc( 17% + 10vw );
   transform: none;
   .to( 1600px, {
      left: -1vw;
      bottom: calc( 45% + 3vw );
   });
   .ll-block({
      left: 0;
   })
}

.Luhansk_Oblast .map_index__region {
   opacity: 1;
   .region('Luhansk_Oblast');
}
.Luhansk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 1% + 1vw);
   bottom: calc( 50% - 2vw );
   transform: none;
   .xl-block({
      left: 2vw
   });
   .middle-block({
      bottom: 45%;
      left: 1vw;
   })
}

.Donetsk_Oblast .map_index__region {
   opacity: 1;
   .region('Donetsk_Oblast');
}
.Donetsk_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: 1vw;
   bottom: calc( 50% - 2vw );
   transform: none;
   .xl-block({
      left: 2vw
   });
   .middle-block({
      bottom: 45%;
      left: 0;
   })
}

.Zaporizhia_Oblast .map_index__region {
   opacity: 1;
   .region('Zaporizhia_Oblast');
}
.Zaporizhia_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: 0;
   bottom: calc( 50% - 2vw );
   transform: none;
   .ll-block({
      bottom: 52%
   });
   .xl-block({
      left: 2vw
   });
   .middle-block({
      bottom: 45%;
      left: 0;
   })
}

.Kherson_Oblast .map_index__region {
   opacity: 1;
   .region('Kherson_Oblast');
}
.Kherson_Oblast .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: -1vw;
   bottom: calc( 50% - 2vw );
   transform: none;
   .ll-block({
      bottom: 52%
   });
   .xxl-block({
      left: 1%;
   });
   .middle-block({
      bottom: 45%;
      left: 0;
   })
}
.Tuva_Republic .map_index__region {
   opacity: 1;
   .region('Tuva_Republic');
}
.Tuva_Republic .map_index__information {
   opacity: 1;
   top: unset;
   right: unset;
   left: calc( 5% + 20vw );
   bottom: calc( 35% - 4vw );
   transform: none;
   .ll-block({
      bottom: 30%
   });
   .xxl-block({
      left: calc( 25% + 10vw );
   });
   .middle-block({
      bottom: 25%;
      left: calc( 15% + 10vw );
   })
}
